.jumbotron {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url("/static/home/images/bg2.jpg");
  background-size: cover;
  line-height: 1.5;
}

.container-ext {
  background-color: white !important;
  margin-bottom: 10rem;
  padding: 5rem;

}

#extResources a {
  color: #17a2b8;
}

#extResources a:hover {
  color: #138496;
  font-size: 110%;
}

#extResources li {
  line-height: 2;
}

.extPButton {
  background-color: #fbcd33;
  float: center;
  margin-left: 30px;
  padding: 3px 8px;
}
