<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta property="og:description"
    content="Here you can get help with filling in the application form to the European Court of Human Rights." />
  <style>
    * {
      font-display: block;
      /* to make chrome bug warning about slow network detected for loading fonts disappear */
    }
  </style>
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet" />
  <link rel="shortcut icon" href="{% static 'home/images/favicon.ico' %}" />
  <title>JustBot</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.11.2/css/all.min.css"
    integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'home/css/styles.css' %}" />
  <!-- Custom fonts for this template -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-bulma@5.0.11/bulma.min.css"
    integrity="sha256-Zayf7XS4qnEwm8IRPvynf7UPP+8s9YUocuBcR7EMISQ=" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="{% static 'home/css/grayscale.min.css' %}" rel="stylesheet" />



  {% block headContent %} {% endblock headContent %} {% block spHeadContent %}
  {% endblock spHeadContent %}
</head>

<body>
  {% load i18n %}
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}"><img id="justbot-brand"
        src="{% static 'home/images/logo.png' %}" alt="JUST BOT" /></a>



    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      {% trans "Nav_Menu" %}
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger {{ home_page }}" href="{% url 'home' %}">
            <h5>{% trans "Nav_Home" %}</h5>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-links {{ form_page }}" href="{% url 'form' %}">
            <h5>{% trans "Nav_ApplicationForm" %}</h5>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-links {{ about_page }}" href="{% url 'about' %}">
            <h5>{% trans "Nav_AboutUs" %}</h5>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-links {{ res_page }}" href="{% url 'extResPage' %}">
            <h5>{% trans "Nav_ExtRes" %}</h5>
          </a>
        </li>
      </ul>
    </div>
  </nav>


  <main role="main" class="fluid-container">
    {% block content %} {% endblock content %}
  </main>
  <footer class="py-4 bg-dark text-white-50">

    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
      <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
          {{ language.name_local }} ({{ language.code }})
        </option>
        {% endfor %}
      </select>
      <input type="submit" value="{% trans 'LangSelect_Go' %}">
    </form>

    <div class="container text-center">
      <small> {% trans "Footer_PoweredBy" %} &copy; </small><br />
      {% trans "Footer.Contact" %}: <a href="mailto:justbot@tech-r.org">justbot@tech-r.org</a><br />
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"
    integrity="sha512-0QbL0ph8Tc8g5bLhfVzSqxe9GERORsKhIn1IrpxDAgUsbBGz/V7iSav2zzW325XGd1OMLdL4UiqRJj702IeqnQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/i18next@21.8.14/dist/umd/i18next.min.js"></script>
  <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.js"
    integrity="sha256-Z1t+wxZ7Eh5T1sK6aePWMhEQOghR4jZVLwjwrUZAReE=" crossorigin="anonymous"></script>
  <script src="{% static 'home/js/grayscale.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
    integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{% static 'home/js/home.js' %}"></script>

  {% block scriptContent %} {% endblock scriptContent %}
</body>

</html>