{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<header class="masthead">
    {% load i18n %}
    <div class="container d-flex align-items-center">
        <div class="mx-auto text-center">

            <h1 class="text-uppercase">JUST BOT <img class="beta-logo" src="{% static 'home/images/beta.png' %}" />
            </h1>

            <div class="home-desc-div">
                <p class="lead text-white">{% trans "home_descText" %}
                </p>
                <br /><br />
                <p class="lead text-white"> {% trans 'Home_HereToHelp' %}
                </p>
                <br />
                <div class="center">
                    <a class="btn btn-primary" href="{% url 'form' %}"
                        role="button">{% trans 'Home_Button_GoForm' %}</a>
                </div>
                <br /> <br />
                <div class="header-down-arrow">
                    <a id="down-arrow-scroll" href="#homepage-section-2"><img
                            src="{% static 'home/images/white-down-arrow.png' %}" width="50px" /></a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="bg-white text-center" style="margin-top: 40px;" id="homepage-section-2">
    <div class="container">
        <h1>{% trans 'Home_Founders' %}</h1>
        <p class="font-weight-light lead">{% trans 'Home_Colab_TechR_UiO' %}
        </p>
    </div>
</div>

<div class="container">
    <div class="row justify-content-md-center center">
        <div class="homepage-founder-logo">
            <a href="https://www.tech-r.org/" target="_blank"><img src="{% static 'home/images/techr-logo.png' %}"
                    class="logo-images-home" alt="techR" width="270px"></a>
        </div>
        <div class="homepage-founder-logo">
            <a href="https://www.uio.no/" target="_blank"><img src="{% static 'home/images/uio-logo.png' %}"
                    class="logo-images-home" alt="uio" /></a>
        </div>
    </div>
</div>

{% endblock content %}