{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<header class="masthead"
    style='background: linear-gradient(to bottom, rgba(212, 199, 199, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), 
    url("{% static 'home/images/bg2.jpg' %}");background-size: cover;'>
    <section class="header-down-arrow">
        <a id="down-arrow-scroll" href="#homepage-section-2"><img src="{% static 'home/images/white-down-arrow.png' %}" width="50"></a>
      </section>
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <br/>
            <br/>

            <h1 class="mx-auto my-0 text-uppercase home-heading">JUST BOT<img class="beta-logo"
                    src="{% static 'home/images/beta.png' %}" height="55px" /></h1>

            <h2 class="text-white-50 mx-auto mt-2 mb-5"> We are here to help you fill in your application form for the
                European Court of Human Rights.</h2>
            <a href="{% url 'form' %}" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
    </div>
    </header>

<div class="jumbotron home-jumbo acenter" id="homepage-section-2">
    <div class="container">
        <h1 class="display-5">Did you know ?</h1>
        <p class="lead"> On average, only <b>5%</b> of all the applications submitted to the
            ECtHR are given a judgment. </p>
            <p class="lead"> The majority of cases are declared
                inadmissible on formal grounds, such as not filling the application
                form correctly, not exhausting all national remedies or submitting
                the application later than 6 months after receiving a final decision
                from the national court.
            </p>
         <br/>
        <div class="center">
            <a class="btn btn-primary" href="{% url 'form' %}" role="button">Go to the Application Form</a>
        </div>
    </div>
</div>

<div class="bg-white text-center">
    <div class="container">
        <h1>Founders</h1>
        <p class="font-weight-light lead">The Just Bot project is a collaboration between <a href="https://www.tech-r.org/" target="_blank">Tech - R</a> and the <a href="https://www.uio.no/" target="_blank">University of
            Oslo</a>.
        </p>
    </div>
</div>

<div class="container">
    <div class="row justify-content-md-center center">
        <div class="col-xl-3 col-md-6 mb-4">
            <a href="https://www.tech-r.org/" target="_blank"><img src="{% static 'home/images/techr-logo.png' %}" class="logo-images-home" alt="techR"
                    width="270px"></a>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
           <a href="https://www.uio.no/" target="_blank"><img src="{% static 'home/images/uio-logo.png' %}" class="logo-images-home" alt="uio" /></a>
        </div>
    </div>
</div>

{% endblock content %}