[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
django-debug-toolbar = "*"
pylama = "*"

[packages]
django = "*"
pycountry = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
whitenoise = "*"
pdfrw = "*"
pypdf = "*"
pypdf2 = "*"
comtypes = "*"
djangorestframework = "*"
csvimporter = "*"
django-cors-headers = "*"
python-decouple = "*"
pdf417 = "*"
svglib = "*"
pylint = "==2.3.1"
astroid = "==2.2.5"
awsebcli = "*"
colorama = {version = "*", sys_platform="!='fake'"}
django-robots-txt = "*"
reportlab = "*"
moment = "*"
pandas = "*"
django-compression-middleware = "*"
xlrd = "*"
django-extensions = "*"
werkzeug = "*"
jsons = "*"
django-debug-toolbar = "*"
numpy = "==1.19.3"

[requires]
python_version = "3.8"
