[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylama = "*"
vsot = "*"
ipykernel = "*"
pylint = "*"

[packages]
django = ">=3.1.8"
pycountry = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
whitenoise = "*"
pdfrw = "*"
pypdf2 = "*"
comtypes = "*"
csvimporter = "*"
django-cors-headers = "*"
python-decouple = "*"
pdf417 = "*"
svglib = "*"
pylint = "==2.3.1"
astroid = "==2.2.5"
django-robots-txt = "*"
reportlab = "*"
moment = "*"
pandas = "===1.2.0"
django-compression-middleware = "*"
xlrd = "===1.2.0"
werkzeug = "*"
jsons = "*"
numpy = "==1.22.3"
opencensus-ext-django = "*"
django-storages-azure = "*"
uvicorn = "*"
applicationinsights = "*"
pip = "*"
django-storages = "*"
azure-storage-blob = "==2.1.0"
azure-storage-common = "*"
azure-common = "*"
django-extensions = "*"
django-debug-toolbar = "*"
black = "*"
django-o365mail = "*"
cython = "*"
o365 = "*"
sentry-sdk = "*"

[requires]
python_version = "3.8"

[packages.colorama]
version = "*"
sys_platform = "!='fake'"
