.finalPageHeader {
    margin-top: 10%;
    text-align: center;
    color: white;
  }

.buttonHolder {
    text-align: center;
}

.allButFooter {
    min-height: calc(100vh - 8vw);
}

.pdfButton {
    margin-right: 20%;
}