{% load static %} {% block headContent %}
<link rel="stylesheet" href="{{ STATIC_URL }}/static/privacy/css/privacy.css" type="text/css" />
{% endblock headContent %} {% block content %}

<div class="container" id="privacyPageDiv">
    <div class="card-master">
        <div class="card-master-header">
            <h4 class="card-header-title acenter">Privacy Policy</h4>
        </div>
        <div class="card-body">
            Hello Privacy policy text goes here.
        </div>
    </div>
</div>
{% endblock content %}