{% load static %}
{% load i18n %}
<div class="is-hidden" id="orgLawyerRep">
  <div class="row">
    <div class="form-group col-lg-12 col-xl-4">
      <h4>{% trans 'Surname' %}</h4>
      <input class="form-control" type="text" name="page3[orglSurname]" placeholder="{% trans 'Surname_Placeholder' %}"
        id="orglSurname" data-parsley-group="page3f" maxlength="49" />
    </div>
    <div class="form-group col-lg-12 col-xl-4">
      <h4>{% trans 'FirstName' %}</h4>
      <input class="form-control" type="text" name="page3[orglFirstName]"
        placeholder="{% trans 'FirstName_Placeholder' %}" id="orglFirstName" data-parsley-group="page3f"
        maxlength="49" />
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-12 col-xl-4">
      <h4>{% trans 'Address' %}</h4>
      <textarea class="form-control longAddress" rows="8" cols="49" maxlength="399"
        placeholder="{% trans 'Address_Placeholder' %}" name="page3[orglAddress]" id="orglAddress"
        oninput="limitLines(this);" onpaste="limitLinesOnPaste(this);"></textarea>
      <div></div>
    </div>
    <div class="col-lg-12 col-xl-4">
      <div class="row">
        <div class="form-group col-sm-12">
          <h4>{% trans 'Nationality' %}</h4>
          <input class="form-control" name="page3[orglNationality]" id="orglNationality" maxlength="49"
            placeholder="{% trans 'Nationality_Placeholder' %}" />
          <input type="hidden" id="orgPhonelNationality" />
        </div>
        <div class="form-group col-sm-12">
          <h4>{% trans 'Fax' %}</h4>
          <input class="form-control" type="tel" name="page3[orglFax]" placeholder="{% trans 'Fax_Placeholder' %}"
            id="orglFax" maxlength="15" />
        </div>
        <div class="col-sm-12">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="orgLFaxOption" name="page3[orgLFaxOption]" />
            <br />
            <label class="custom-control-label" for="orgLFaxOption">{% trans 'NoFax_Check' %}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-xl-4">
      <div class="row">
        <div class="form-group col-sm-12">
          <h4>{% trans 'TelNo' %}</h4>
          <input class="form-control" type="tel" name="page3[orglTel]" id="orglTel"
            placeholder="{% trans 'TelNo_Placeholder' %}" />
        </div>
        <div class="form-group col-sm-12">
          <h4>{% trans 'Email' %}</h4>
          <input class="form-control" type="email" name="page3[orglEmail]" placeholder="{% trans 'Email_Placeholder' %}"
            id="orglEmail" maxlength="49" />
        </div>
      </div>
    </div>

    <div id="orgLFaxDiv" class="col-sm-12 is-hidden">
      <label for="orgLFaxArea">{% trans  'Page3_OrgLawyer_NoFaxArea' %}</label>
      <textarea id="orgLFaxArea" name="page3[orgLFaxArea]" class="form-control"
        placeholder="{% trans  'Page3_OrgLawyer_NoFaxArea_Placeholder' %}" rows="10"></textarea>
    </div>
  </div>

  <div class="orgAuthority is-hidden col-sm-12">
    <hr />

    <br /><br />
    <h4 class="alert-heading">{% trans 'Page3_Authority_Heading' %}</h4>

    <h5>{% trans 'Page3_Org_Authority_Description' %}</h5>
    <br />
    <div id="ifOrgLawyerYes" class="is-hidden">
      <div class="row">
        <div class="form-group col-sm-12">
          <h4>{% trans 'Page3_Authority_Option' %}</h4>
          <br />
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input orgAttorney" id="orgAttorneyYes" name="page3[orgAttorney]"
              value="yes" data-parsley-group="page3" />
            <label class="custom-control-label" for="orgAttorneyYes">{% trans 'Option_Yes' %}</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input orgAttorney" id="orgAttorneyNo" name="page3[orgAttorney]"
              value="no" data-parsley-group="3" />
            <label class="custom-control-label" for="orgAttorneyNo">{% trans 'Option_No' %}</label>
          </div>
        </div>

        <div id="orgLAuthorityYes" class="is-hidden">
          <div class="orgLAuthorityAlertPic">
            <div class="alert alert-danger" role="alert">
              <p class="lead">{% trans 'Page3_OrgRep_VeryImportant' %}</p>
            </div>
            <img src="{% static 'applicationForm/img/Signature-ORG.png' %}" width="70%"
              style="border: #ea0000 solid 4px" />
          </div>
          <br>
          <div class="custom-checkbox custom-control custom-control-inline">
            <input type="checkbox" class="custom-control-input" id="orgLAutorityYesCheckbox"
              name="page3[orgLAutorityYesCheckbox]" />
            <label class="custom-control-label"
              for="orgLAutorityYesCheckbox">{% trans 'Page3_OrgLawyer_Authority_Yes_Checkbox' %}
            </label>
          </div>
        </div>

        <div id="orgAttorneyAreaDiv" class="is-hidden">

          <h4>{% trans 'Page3_AuthorityForm_NoSign' %}</h4>

          <textarea id="orgAutorityAreaNo" class="form-control newPageTextArea" name="page3[orgAutorityAreaNo]"
            rows="10"></textarea>

        </div>
      </div>
    </div>
    <br /><br />

    <br />
    <hr /> <br />
  </div>
  <div class="form-group col-sm-12">
    <h4>
      {% trans 'Page3_Ecomms' %}
    </h4>
    <div class="text-center">
      <br />
      <button class="btn more-info-button" data-toggle="collapse" data-target="#info-ecomm">
        {% trans 'Button_MoreInfo' %}
      </button>
      <br />
      <br />
    </div>

    <div id="info-ecomm" class="collapse">
      <h5 class="ajustify">
        {% trans 'Page3_Ecomms_MoreInfo' %}
      </h5>
    </div>
    <h4>
      {% trans 'Page3_Ecomms_Email' %}
    </h4>
    <input class="form-control col-sm-4" type="email" name="page3[orgIndeComms]" id="orgIndeComms" maxlength="49"
      placeholder="{% trans 'Page3_Ecomms_Email_Placeholder' %}" />
  </div>
</div>