{% load static %}
{% load i18n %}
<div class="section" id="orgNonLawyerRep">
  <br /><br />
  <h4>{% trans 'Page3_OrgOfficial_Heading' %}</h4>
  <br><br>
  <div class="row">
    <div class="form-group col-lg-12 col-xl-4">
      <h4>{% trans 'Page3_OrgOfficial_Capacity' %}</h4>
      <input class="form-control" type="text" name="page3[orgCapacity]"
        placeholder="{% trans 'Page3_OrgOfficial_Capacity_Placeholder' %}" id="orgnlCapacity"
        data-parsley-group="page3d" maxlength="49" />
    </div>
    <div class="form-group col-lg-12 col-xl-4">
      <h4>{% trans 'Surname' %}</h4>
      <input class="form-control" type="text" name="page3[orgnlSurname]" placeholder="{% trans 'Surname_Placeholder' %}"
        id="orgnlSurname" data-parsley-group="page3d" maxlength="49" />
    </div>
    <div class="form-group col-lg-12 col-xl-4">
      <h4>{% trans 'FirstName' %}</h4>
      <input class="form-control" type="text" name="page3[orgnlFirstName]"
        placeholder="{% trans 'FirstName_Placeholder' %}" id="orgnlFirstName" data-parsley-group="page3d"
        maxlength="49" />
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-12 col-xl-4">
      <h4>{% trans 'Address' %}
        <a href="javascript://" data-toggle="popover" data-content="{% trans 'Page3_Address_OrgOfficial_Popover' %}"
          data-trigger="focus" data-placement="bottom">
          <span><i class="fas fa-question-circle"></i></span></a></h4>
      <textarea class="form-control shortAddress" rows="6" cols="49" maxlength="299"
        placeholder="{% trans 'Address_Placeholder' %}" name="page3[orgnlAddress]" id="orgnlAddress"
        oninput="limitLines(this);" onpaste="limitLinesOnPaste(this);"></textarea>
      <div></div>
    </div>
    <div class="col-lg-12 col-xl-4">
      <div class="row">
        <div class="form-group col-sm-12">
          <h4>{% trans 'Nationality' %}</h4>
          <input class="form-control" name="page3[orgnlNationality]" id="orgnlNationality" maxlength="49"
            placeholder="{% trans 'Nationality_Placeholder' %}" />
          <input type="hidden" id="orgPhonenlNationality" />
        </div>
        <div class="col-sm-12">
          <h4>{% trans 'Fax' %}</h4>
          <input class="form-control" type="tel" name="page3[orgnlFax]" placeholder="{% trans 'Fax_Placeholder' %}"
            id="orgnlFax" maxlength="15" />
        </div>
        <div class="col-sm-12">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="orgNLFaxOption" name="page3[orgNLFaxOption]" />
            <br />
            <label class="custom-control-label" for="orgNLFaxOption">{% trans 'NoFax_Check' %}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-xl-4">
      <div class="row">
        <div class="form-group col-sm-12">
          <h4>{% trans 'TelNo' %}</h4>
          <input class="form-control" type="tel" name="page3[orgnlTel]" id="orgnlTel"
            placeholder="{% trans 'TelNo_Placeholder' %}" />
        </div>
        <div class="form-group col-sm-12">
          <h4>{% trans 'Email' %}</h4>
          <input class="form-control" type="email" name="page3[orgnlEmail]"
            placeholder="{% trans 'Email_Placeholder' %}" id="orgnlEmail" maxlength="49" />
        </div>
      </div>
    </div>



    <div id="orgNLFaxDiv" class="col-sm-12 is-hidden">
      <label for="orgNLFaxArea">{% trans 'Page3_OrgOff_NoFaxArea' %}</label>
      <textarea id="orgNLFaxArea" name="page3[orgNLFaxArea]" class="form-control"
        placeholder="{% trans 'Page3_OrgOff_NoFaxArea_Placeholder' %}" rows="10"></textarea>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-12">
      <h4>{% trans 'Page3_OrgOff_Entitled' %}<h4>
          <h5>{% trans 'Page3_OrgOff_Entitled_Description' %}
          </h5>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-12">
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input orgOffEntitled" id="orgOffEntitledYes"
          name="page3[orgOffEntitled]" value="yes" data-parsley-group="page3" />
        <label class="custom-control-label" for="orgOffEntitledYes">{% trans 'Option_Yes' %}</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input orgOffEntitled" id="orgOffEntitledNo"
          name="page3[orgOffEntitled]" value="no" data-parsley-group="3" />
        <label class="custom-control-label" for="orgOffEntitledNo">{% trans 'Option_No' %}</label>
      </div>
    </div>
    <div id="orgOfficialAreaDiv" class="col-sm-12"></div>
  </div>

  <div class="form-group">
    <h4>
      {% trans 'Page3_Org_RepLawyer' %}
    </h4>

    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="orgLYesRepresentative" name="page3[orgRepresentativeType]"
        value="orgYesLawyer" data-parsley-group="page3e" data-parsley-required
        data-parsley-errors-container="#orgRepError" />
      <label class="custom-control-label" for="orgLYesRepresentative">{% trans 'Option_Yes' %}</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="orgLNoRepresentative" name="page3[orgRepresentativeType]"
        value="orgNoLawyer" data-parsley-group="page3e" />
      <label class="custom-control-label" for="orgLNoRepresentative">{% trans 'Option_No' %}</label>
    </div>
    <div id="orgRepError"></div>
    <div id="orgRepresentNoLawyer"></div>
  </div>
</div>