{% load static %}
<div class="is-hidden" id="orgRepresentative">
    <div class="card-master">
      <div class="card-master-header">
        <h4 class="card-header-title acenter">Representation</h4>
      </div>

      <div class="card-body">
        <h3 class="acenter">
          Representative(s) of the Applicant Organisation
        </h3>
        <p class="lead">
          Where the applicant is an organisation, it must be represented
          before the Court by a person entitled to act on its behalf and
          in its name (e.g. a duly authorised director or official).
        </p>
        <div class="text-center">
          <button
            class="btn more-info-button"
            data-toggle="collapse"
            data-target="#info-ORG"
          >
            More Info
          </button>
        </div>
        <br />
        <div id="info-ORG" class="collapse">
          <p class="ajustify">
            This official representative might be the person specifically
            designated by the board, or council of administration for that
            purpose, or the person who is authorised generally under
            domestic law or the organisation’s articles to act on its
            behalf. It may be that a legal person’s representative is also
            a lawyer or legal officer and has the capacity to act
            additionally as legal representative. Both parts of the
            application form concerning representation must still be
            filled in, and requisite documentary proof provided of
            authority to represent the legal person must be attached.
          </p>

          <hr />
        </div>
        

        {% include 'applicationForm/page3/orgRepresentative/non-lawyer.html' %}

        {% include 'applicationForm/page3/orgRepresentative/lawyer.html' %}

        <div class="card-footer acenter">
          <br /><br />
          <div class="row">
            <div class="col-sm-6 aleft">
              <button
                class="btn btn-primary"
                onclick="stepperForm.previous()"
              >
                Previous
              </button>
            </div>
            <div class="col-sm-6 aright">
              <button
                class="btn btn-primary btn-next-form"
                onclick="stepperForm.next()"
              >
                Next
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>