{% load static %}
{% load i18n %}
<div class="is-hidden" id="orgRepresentative">
  <div class="card-master">
    <div class="card-master-header">
      <h4 class="card-header-title acenter">{% trans 'Page3_OrgRep_Heading' %} </h4>
    </div>

    <div class="card-body">
      <h3 class="acenter">
        {% trans 'Page3_OrgRep_Body_Heading' %}
      </h3>
      <p class="lead">{% trans 'Page3_OrgRep_Official_Instructions' %}
      </p>
      <div class="text-center">
        <button class="btn more-info-button" data-toggle="collapse" data-target="#info-ORG">
          {% trans 'Button_MoreInfo' %}
        </button>
      </div>
      <br />
      <div id="info-ORG" class="collapse">
        <h5 class="ajustify">{% trans 'Page3_OrgRep_Official_MoreInfo' %}
        </h5>

        <hr />
      </div>


      {% include 'applicationForm/page3/orgRepresentative/non-lawyer.html' %}

      {% include 'applicationForm/page3/orgRepresentative/lawyer.html' %}

      <div class="card-footer acenter">
        <br /><br />
        <div class="row">
          <div class="col-sm-6 aleft">
            <button class="btn btn-primary" onclick="stepperForm.previous()">
              {% trans 'Button_Previous' %}
            </button>
          </div>
          <div class="col-sm-6 aright">
            <button class="btn btn-primary btn-next-form" onclick="stepperForm.next()">
              {% trans 'Button_Next' %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>