<div class="is-hidden" id="indRepresentative">
  <div class="card-master">
    {% load i18n %}
    <div class="card-master-header">
      <h4 class="card-header-title acenter">{% trans 'Page3_IndRep_Heading' %}</h4>
    </div>
    <div class="card-body">
      <div class="container">
        <h3 class="acenter">{% trans 'Page3_IndRep_BodyHeading' %}</h3>
        <p class="lead">
          {% trans 'Page3_IndRep_Instructions' %}
        </p>
      </div>

      <br /><br />
      <div class="row form-group">
        <h4 class="divSpacing col-sm-12">{% trans 'Page3_IndRep_Type' %}</h4>
        <div class="col-sm-4 d-flex justify-content-center">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="representativeNL" name="page3[indRepresentativeType]"
              value="non-lawyer" required data-parsley-group="page3a" data-parsley-errors-container="#indRepError" />
            <label class="custom-control-label" for="representativeNL">
              {% trans 'Page3_IndRep_NL' %}
              <a href="#" data-toggle="popover" data-content="{% trans 'Page3_IndRep_NL_Popover' %}"
                data-trigger="focus" data-placement="bottom"><span> <i class="fas fa-question-circle"></i></span></a>
            </label>
          </div>
        </div>
        <div class="col-sm-4 d-flex justify-content-center">
          <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" id="representativeL" type="radio" name="page3[indRepresentativeType]"
              value="lawyer" />
            <label class="custom-control-label" for="representativeL">
              {% trans 'Page3_IndRep_L' %}
              <a href="#" data-toggle="popover" data-content="{% trans 'Page3_IndRep_L_Popover' %}" data-trigger="focus"
                data-placement="bottom"><span><i class="fas fa-question-circle"></i></span></a>
            </label>
          </div>
        </div>
        <div class="col-sm-4 d-flex justify-content-center">
          <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" id="representativeNone" type="radio" name="page3[indRepresentativeType]"
              value="selfRepresented" />
            <label class="custom-control-label" for="representativeNone">
              {% trans 'Page3_IndRep_Self' %}
            </label>
          </div>
        </div>
      </div>
      <div class="center-content-error" id="indRepError"></div>
      <br><br>
      {% include 'applicationForm/page3/indRepresentative/non-lawyer.html' %}
      {% include 'applicationForm/page3/indRepresentative/lawyer.html' %}
      {% include 'applicationForm/page3/indRepresentative/self.html' %}
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-6 aleft">
            <button class="btn btn-primary" onclick="stepperForm.previous()">
              {% trans 'Button_Previous' %}
            </button>
          </div>
          <div class="col-sm-6 aright">
            <button class="btn btn-primary btn-next-form" onclick="stepperForm.next()">
              {% trans 'Button_Next' %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>