{% load static %}
{% load i18n %}
<div class="is-hidden" id="lawyerRep">
  <div id="containerDivForLawyer">
    <h4>{% trans 'Page3_IndRep_L_Heading' %}</h4>
    <div class="row">
      <div class="form-group col-lg-12 col-xl-4">
        <h4>{% trans 'Surname' %}</h4>
        <input class="form-control" type="text" name="page3[indLSurname]"
          placeholder="{% trans 'Surname_Placeholder' %}" id="indLSurname" data-parsley-group="page3c" maxlength="49" />
      </div>
      <div class="form-group col-lg-12 col-xl-4">
        <h4>{% trans 'FirstName' %}</h4>
        <input class="form-control" type="text" name="page3[indLFirstName]"
          placeholder="{% trans 'FirstName_Placeholder' %}" id="indLFirstName" data-parsley-group="page3c"
          maxlength="49" />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-12 col-xl-4">
        <h4>{% trans 'Address' %}</h4>
        <textarea class="form-control longAddress" cols="49" rows="8" placeholder="{% trans 'Address_Placeholder' %}"
          name="page3[indLAddress]" id="indLAddress" maxlength="399" oninput="limitLines(this);"
          onpaste="limitLinesOnPaste(this);"></textarea>
        <div></div>
      </div>
      <div class="col-lg-12 col-xl-8">
        <div class="row">
          <div class="form-group col-lg-12 col-xl-6">
            <h4>{% trans 'Nationality' %}</h4>
            <input class="form-control" name="page3[indLNationality]" id="indLNationality" maxlength="49"
              placeholder="{% trans 'Nationality_Placeholder' %}" />
            <input type="hidden" id="indphoneLNationality" />
          </div>
          <div class="form-group col-lg-12 col-xl-6">
            <h4>{% trans 'TelNo' %}</h4>
            <input class="form-control" type="tel" style="width: 100%" name="page3[indLTel]" id="indLTel"
              placeholder="{% trans 'TelNo_Placeholder' %}" />
          </div>
        </div>



        <div class="row">
          <div class="form-group col-lg-12 col-xl-6">
            <h4>{% trans 'Fax' %}</h4>
            <input class="form-control" type="tel" name="page3[indLFax]" placeholder="{% trans 'Fax_Placeholder' %}"
              id="indLFax" maxlength="15" />
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="indLFaxOption" name="page3[indLFaxOption]"
                value="No" data-parsley-group="page3b" />
              <br />
              <label class="custom-control-label" for="indLFaxOption">{% trans 'NoFax_Check' %}</label>
            </div>
          </div>
          <div class="form-group col-lg-12 col-xl-6">
            <h4>{% trans 'Email' %}</h4>
            <input class="form-control" type="email" name="page3[indLEmail]"
              placeholder="{% trans 'Email_Placeholder' %}" id="indLEmail" maxlength="49" />
          </div>
        </div>
      </div>
    </div>
    <div id="indLFaxDiv" class="col-sm-12 is-hidden">
      <label for="indLFaxArea">{% trans 'Page3_IndRep_L_NoFax_Message' %}</label>
      <textarea id="indLFaxArea" name="page3[indLFaxArea]" class="form-control"
        placeholder="{% trans 'Page3_IndRep_L_NoFaxArea_Placeholder' %}" rows="10"></textarea>
    </div>
  </div>

</div>
<div id="indLAuthoritySection" class="row is-hidden">
  <div class="col-sm-12">

    <hr />

    <h4 class="alert-heading">{% trans 'Page3_Authority_Heading' %}</h4>
    <h5 class="ajustify">
      {% trans 'Page3_IndRep_L_Authority_Description' %}
    </h5>

    <div class="text-center">
      <button class="btn more-info-button" data-toggle="collapse" data-target="#info-authorityL">
        {% trans 'Button_MoreInfo' %}
      </button>
    </div>
    <br />
    <div id="info-authorityL" class="collapse">
      <h5 class="ajustify">
        {% trans 'Page3_IndRep_L_Authority_MoreInfo' %}
      </h5>
    </div>
    <br />
    <br />
    <div id="indLAuthorityExtra">
      <div class="form-group">
        <h4>
          {% trans 'Page3_Authority_Option' %}
        </h4>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input indLAuthorityPower" id="indLAuthorityPowerYes"
            name="page3[indLAuthorityPower]" value="Yes" data-parsley-group="page3" />
          <label class="custom-control-label" for="indLAuthorityPowerYes">{% trans 'Option_Yes' %}</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input indLAuthorityPower" id="indLAuthorityPowerNo"
            name="page3[indLAuthorityPower]" value="No" data-parsley-group="3" />
          <label class="custom-control-label" for="indLAuthorityPowerNo">{% trans 'Option_No' %}</label>
        </div>

      </div>

      <div id="indLAuthorityPowerYesDiv" class="is-hidden">
        <div id="LAuthorityAlertImage">
          <br>
          <div class="alert alert-danger" role="alert">
            <p class="lead">
              {% trans 'Page3_IndRep_VeryImportant' %}
            </p>
          </div>
          <br />
          <img src="{% static 'applicationForm/img/Signature-Indiv.png' %}" width="70%"
            style="border: #ea0000 solid 4px" />
        </div>

        <br>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" class="custom-control-input" id="indLAuthorityPowerYesCheckbox"
            name="page3[indLAuthorityPowerYesCheckbox]" />
          <label class="custom-control-label"
            for="indLAuthorityPowerYesCheckbox">{% trans 'Page3_IndRep_L_AuthorityUnderstood_Check' %}</label>
        </div>
        <br>
      </div>
      <div id="indLAuthorityPowerNoDiv" class="is-hidden">
        <h4 class="ajustify">{% trans 'Page3_IndRep_L_AuthorityNo_Message' %}<br /> <br /></h4>
        <h5 class="ajustify">{% trans 'Page3_IndRep_L_AuthorityNo_Message_Explanation' %}</h5>

        <textarea name="page3[indLAuthAreaYes]" id="indLAuthAreaYes" class="form-control newPageTextArea indLAuthArea"
          rows="10"></textarea>


      </div>

      <div id="LotherNL" class="is-hidden">
        <br>
        <label>
          <h4>
            {% trans 'Page3_IndRep_L_OtherNL' %}
          </h4>
        </label>


        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="LotherNLYes" name="page3[LotherNL]" value="yes"
            data-parsley-group="page3" data-parsley-errors-container="#LotherNLError" />
          <label class="custom-control-label" for="LotherNLYes">
            {% trans 'Option_Yes' %}
          </label>
        </div>

        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="LotherNLNo" name="page3[LotherNL]" value="no"
            data-parsley-group="page3" data-parsley-required />
          <label class="custom-control-label" for="LotherNLNo">
            {% trans 'Option_Yes' %}
          </label>
        </div>

        <div id="LotherNLError"></div>
        <div id="indLOtherYes" class="is-hidden">
          <br>

        </div>
        <div id="indLOtherNo" class="is-hidden">
          <br>
          <h5 class="ajustify">{% trans 'Page3_AuthorityForm_NoSign' %}</h5>

          <textarea name="page3[indLAuthAreaNo]" id="indLAuthAreaNo" class="form-control newPageTextArea"
            rows="10"></textarea>
        </div>

      </div>

      <div id="LdivForAppendNL"></div>

      <br />
      <br />
    </div>

  </div>
</div>
<div id="indLECommsSection" class="form-group is-hidden">
  <hr />
  <br />
  <label for="indLIndeComms">
    <h4>
      {% trans 'Page3_Ecomms' %}
    </h4>
  </label>
  <div class="text-center">
    <button class="btn more-info-button" data-toggle="collapse" data-target="#info-ecomm">
      {% trans 'Button_MoreInfo' %}
    </button>
  </div>

  <br />
  <div id="info-ecomm" class="collapse">
    <h5 class="ajustify">
      {% trans 'Page3_Ecomms_MoreInfo' %}
    </h5>
  </div>
  <div>
    <h4>
      {% trans 'Page3_Ecomms_Email' %}
    </h4>
    <input class="form-control col-sm-4" type="email" name="page3[indLIndeComms]" id="indLIndeComms" maxlength="49"
      placeholder="{% trans 'Page3_Ecomms_Email_Placeholder' %}" />
  </div>
  <br /><br />
</div>