{% load static %}
{% load i18n %}
<div class="is-hidden" id="nonLawyerRep">
  <div id="containerDivForNonLawyer">
    <h4>{% trans 'Page3_IndRep_NL_Heading' %}</h4>
    <br />
    <div class="row">
      <div class="form-group col-lg-12 col-xl-4">
        <h4>
          {% trans 'Page3_IndRep_NL_Capacity' %}
          <a href="javascript://" data-toggle="popover" data-content="{% trans 'Page3_IndRep_NL_Capacity_Popover' %}"
            data-trigger="focus" data-placement="bottom"><span><i class="fas fa-question-circle"></i></span></a>
        </h4>
        <input class="form-control" type="text" name="page3[indNLCapacity]"
          placeholder="{% trans 'Page3_IndRep_NL_Capacity_Placeholder' %}" id="indNLCapacity" maxlength="49"
          data-parsley-group="page3b" />
      </div>
      <div class="form-group col-lg-12 col-xl-4">
        <h4>{% trans 'Surname' %}</h4>
        <input class="form-control" type="text" name="page3[indNLSurname]"
          placeholder="{% trans 'Surname_Placeholder' %}" id="indNLSurname" maxlength="49"
          data-parsley-group="page3b" />
      </div>
      <div class="form-group col-lg-12 col-xl-4">
        <h4>{% trans 'FirstName' %}</h4>
        <input class="form-control" type="text" name="page3[indNLFirstName]"
          placeholder="{% trans 'FirstName_Placeholder' %}" id="indNLFirstName" maxlength="49"
          data-parsley-group="page3b" />
      </div>
    </div>

    <div class="row">
      <div class="form-group col-lg-12 col-xl-4">
        <h4>{% trans 'Address' %}</h4>
        <textarea class="form-control shortAddress" cols="49" rows="6" maxlength="299"
          placeholder="{% trans 'Address_Placeholder' %}" name="page3[indNLAddress]" id="indNLAddress"
          oninput="limitLines(this);" onpaste="limitLinesOnPaste(this);"></textarea>
        <div></div>
      </div>

      <div class=" col-lg-12 col-xl-4">
        <div class="row">
          <div class="col-sm-12 form-group">
            <h4>{% trans 'Nationality' %}</h4>
            <input class="form-control" name="page3[indNLNationality]" id="indNLNationality" maxlength="49"
              placeholder="{% trans 'Nationality_Placeholder' %}" />
            <input type="hidden" id="indPhoneNLNationality" />
          </div>
          <div class="col-sm-12 form-group">
            <h4>{% trans 'TelNo' %}</h4>
            <input class="form-control" type="tel" style="width: 100%" name="page3[indNLTel]" id="indNLTel"
              placeholder="{% trans 'TelNo_Placeholder' %}" />
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-xl-4">
        <div class="row">
          <div class="col-sm-12 nlEmailfield form-group">
            <h4>{% trans 'Email' %}</h4>
            <input class="form-control" type="email" name="page3[indNLEmail]"
              placeholder="{% trans 'Email_Placeholder' %}" id="indNLEmail" maxlength="49" />
          </div>
          <div class="col-sm-12 form-group">
            <h4>{% trans 'Fax' %}</h4>
            <input class="form-control" type="tel" name="page3[indNLFax]" placeholder="{% trans 'Fax_Placeholder' %}"
              id="indNLFax" maxlength="15" />
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="indNLFaxOption" name="page3[indNLFaxOption]"
                data-parsley-group="page3a" value="No" />
              <br />
              <label class="custom-control-label" for="indNLFaxOption">{% trans 'NoFax_Check' %}</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />
    <div id="indNLFaxDiv" class="col-sm-12 is-hidden">
      <label for="indNLFaxArea">{% trans 'Page3_IndRep_NL_NoFax_Message' %}</label>
      <textarea id="indNLFaxArea" name="page3[indNLFaxArea]" class="form-control"
        placeholder="{% trans 'Page3_IndRep_NL_NoFax_Message_PlaceHolder' %}" rows="10"></textarea>
    </div>

    <br />
    <hr />
    <br />
  </div>

  <div id="indNLAuthoritySection" class="is-hidden">

    <div id="authorityIndNL">
      <div id="NLEmployedL">
        <div class="col-sm-12">
          <div class="form-group">
            <br />

            <h4>
              {% trans 'Page3_IndRep_NL_LawyerRep_Option' %}
            </h4>


            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input indNLEmployedL" id="indNLEmployedLYes"
                name="page3[indNLEmployedL]" value="yes" data-parsley-group="page3"
                data-parsley-errors-container="#indNLEmployedLError" />
              <label class="custom-control-label" for="indNLEmployedLYes">
                {% trans 'Option_Yes' %}
              </label>
            </div>


            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input indNLEmployedL" id="indNLEmployedLNo"
                name="page3[indNLEmployedL]" value="no" data-parsley-group="page3" data-parsley-required />
              <label class="custom-control-label" for="indNLEmployedLNo">
                {% trans 'Option_No' %}
              </label>
            </div>

            <div id="indNLEmployedLError"></div>
          </div>
        </div>
        <div id="NLEmployedLNoTextDiv" class="col-sm-12 is-hidden">
          <h5 class="justify-content-center">{% trans 'Page3_IndRep_NL_EmployedL_No' %}</h5>

          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" class="custom-control-input" id="NLEmployedLNoCheckbox" style="margin-right: 20px"
              name="page3[NLEmployedLNoCheckbox]" />

            <label class="custom-control-label"
              for="NLEmployedLNoCheckbox">{% trans 'Page3_IndRep_NL_Understand_Check' %}</label>
          </div>

          <br>
          <hr>


        </div>

        <div id="NLdivForAppendL"></div>
      </div>



      <div class="col-sm-12">
        <div class="form-group">
          <br />
          <h4 class="alert-heading">{% trans 'Page3_IndRep_NL_Authority_Heading' %}</h4>
          <h5 class="lead ajustify">
            {% trans 'Page3_IndRep_NL_Authority_Description' %}
          </h5>

          <div class="text-center">
            <button class="btn more-info-button" data-toggle="collapse" data-target="#info-authority">
              {% trans 'Button_MoreInfo' %}
            </button>
          </div>
          <br />
          <div id="info-authority" class="collapse">
            <h5 class="lead ajustify">
              {% trans 'Page3_IndRep_NL_Authority_MoreInfo' %}
            </h5>
            <br />
            <hr />
            <br />
          </div>
          <br />
          <h4>
            {% trans 'AuthorityForm_Option' %}
            <br /></h4>
          <h5> {% trans 'AuthorityForm_Option_Explanation' %}</h5>



          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input indNLAuthorityQn" id="indNLAuthorityQn1"
              name="page3[indNLAuthorityQn]" value="yes" data-parsley-group="page3"
              data-parsley-errors-container="#indNLAuthorityError" />
            <label class="custom-control-label" for="indNLAuthorityQn1">
              {% trans 'Option_Yes' %}
            </label>
          </div>


          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input indNLAuthorityQn" id="indNLAuthorityQn2"
              name="page3[indNLAuthorityQn]" value="no" data-parsley-group="page3" data-parsley-required />
            <label class="custom-control-label" for="indNLAuthorityQn2">
              {% trans 'Option_No' %}
            </label>
          </div>
        </div>
        <div id="indNLAuthorityYes" class="is-hidden">

          <div id="NLAuthorityAlertImage">
            <br>
            <div class="alert alert-danger" role="alert">
              <br />
              <p class="lead">
                {% trans 'Page3_IndRep_NL_VeryImportant' %}
              </p>
            </div>
            <img src="{% static 'applicationForm/img/Signature-Indiv.png' %}" width="70%"
              style="border: #ea0000 solid 4px" />
          </div>

          <br>
          <div class="custom-checkbox custom-control custom-control-inline">
            <input type="checkbox" class="custom-control-input" id="indNLAutorityYesCheckbox"
              name="page3[indNLAutorityYesCheckbox]" />
            <label class="custom-control-label"
              for="indNLAutorityYesCheckbox">{% trans 'Page3_IndRep_NL_ConfirmSign' %}</label>
          </div>
          <br>
          <hr>
          <br>
        </div>

        <div id="indNLAuthorityError"></div>
        <div id="indNLAuthorityNo" class="is-hidden">
          <h4>{% trans 'Page3_IndRep_NL_AuthorityForm_NoSignMessage' %}</h4> <br>
          <textarea class="form-control newPageTextArea" id="indNLAuthArea" name="page3[indNLAuthArea]"
            rows="10"></textarea>
          <br>
        </div>
      </div>
      <br />
      <hr />
      <br />
    </div>
  </div>

  <div id="indNLECommsSection" class="form-group is-hidden">
    <h4>{% trans 'Page3_IndRep_NL_Ecomms' %}</h4>
    <div class="text-center">
      <button class="btn more-info-button" data-toggle="collapse" data-target="#info-ecomm">
        {% trans 'Button_MoreInfo' %}
      </button>
    </div>

    <br />
    <div id="info-ecomm" class="collapse">
      <h5 class="ajustify">
        {% trans 'Page3_IndRep_NL_Ecomms_MoreInfo' %}
      </h5>
    </div>
    <div>
      <h4>
        {% trans 'Page3_IndRep_NL_Ecomms_Email' %}
      </h4>
      <input class="form-control col-sm-4" type="email" name="page3[indIndeComms]" id="indIndeComms" maxlength="49"
        placeholder="{% trans 'Page3_IndRep_NL_Ecomms_Email_Placeholder' %}" />
    </div>
    <br />
    <br />
  </div>
</div>