{% extends 'home/base.html' %} {% load static %} {% block headContent %}

<link rel="stylesheet" href="{% static 'applicationForm/css/formStyles.css' %}" />
<link rel="stylesheet" href="{{ STATIC_URL }}/static/about/css/aboutUs.css" type="text/css" />
{% endblock headContent %} {% block content %}
{% load i18n %}
<div class="container-fluid" id="aboutPageDiv">
=======
  <div class="card-master">
    <div class="card-master-header">
      <h4 class="card-header-title acenter">{% trans 'AboutUs_Heading' %}</h4>
    </div>
    <div class="card-body">
      <br> <br> <br>
      <div class="aboutSection noDivSpacing row">
        <div class="section-heading about_section_heading">{% trans 'AboutUs_Vision_Heading' %}</div>
        <div class="card col-sm-12 section-box">
          <p>{% trans 'AboutUs_Vision_Description' %}</p>
        </div>
      </div>
      <div class="aboutSection noDivSpacing row">
        <div class="section-heading about_section_heading">{% trans 'AboutUs_Organisation_Heading' %}</div>
        <div class="card col-sm-12 section-box">
          <p>{% trans 'AboutUs_Organisation_Description1' %}
          </p>
          <p>{% trans 'AboutUs_Organisation_Description2' %}
            <a href="https://www.tech-r.org" target="_blank">
          </p>

          <p>{% trans 'AboutUs_Organisation_Description3' %}
          </p>
        </div>

      </div>
      <div class="aboutSection noDivSpacing row">
        <div class="section-heading about_section_heading">{% trans 'AboutUs_People_Heading' %}</div>
        <div class="card col-sm-12 section-box">
          <div class="align-center">{% trans 'AboutUs_People_Subheading' %}</div>
          <div class="page-content">
            <div class="card1">
              <div class="content">
                <h2 class="title">Lelia Marcau</h2>
                <p class="copy">{% trans 'AboutUs_Lelia_Task' %}</p>
              </div>
            </div>
            <div class="card1">
              <div class="content">
                <h2 class="title">Kumar Aman</h2>
                <p class="copy">{% trans 'AboutUs_Aman_Task' %}</p>
              </div>
            </div>
            <div class="card1">
              <div class="content">
                <h2 class="title">Nina Pupalova</h2>
                <p class="copy">{% trans 'AboutUs_Nina_Task' %}</p>
              </div>
            </div>
            <div class="card1">
              <div class="content">
                <h2 class="title">Asude Burcu Karapinar </h2>
                <p class="copy">{% trans 'AboutUs_Asude_Task' %}</p>
              </div>
            </div>
          </div>
          <div class="page-content">
            <div class="card1">
              <div class="content">
                <h2 class="title">Agnes Dinnyes (intern) </h2>
                <p class="copy">{% trans 'AboutUs_Agnes_Task' %}</p>
              </div>
            </div>
            <div class="card1">
              <div class="content">
                <h2 class="title">Nabil Ouhi </h2>
                <p class="copy">{% trans 'AboutUs_Nabil_Task' %}</p>
              </div>
            </div>
            <div class="card1">
              <div class="content">
                <h2 class="title">Dan Costin </h2>
                <p class="copy">{% trans 'AboutUs_Dan_Task' %}</p>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="card-footer">
      {% trans 'AboutUs_Footer' %} {logo tech-r} {logo UiO} {logo lovdata}
    </div>
  </div>
</div>

{% endblock content %}