{% extends 'home/base.html' %} {% load static %} {% block headContent %}

<link
  rel="stylesheet"
  href="{% static 'applicationForm/css/formStyles.css' %}"
/>
<link rel="stylesheet" href="{% static 'css/aboutUs.css' %}" />
{% endblock headContent %} {% block content %} 

 <div class="jumbotron" style='background: linear-gradient(to
  bottom, rgba(212, 199, 199, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%),
  url("{% static 'home/images/bg2.jpg' %}");background-size: cover;'>

  <br />
  <h1 class="display-3" id="form-title">About Us</h1>

  <div class="col-md-12 mx-auto form-section">
    <div class="card-body">
      <div class="text-center">
        <img src="{% static 'images/team.png' %}" width="20%;" />
      </div>
      <p class="lead ajustify" style="padding: 60px">
        Just Bot aims to help complainants (and their lawyers) improve the
        quality of their applications to the European Court of Human Rights;
        currently many claims are rejected immediately, often for simple
        mistakes, and only 5% reach the stage of receiving a judgement. In the
        first phase, the project provides a digital tool in English that
        automates the standard procedure and provides help along the way. In the
        second phase, we aim to integrate different languages and algorithms to
        automate the writing process.
        <br />

        Just Bot is based on a partnership between Tech-R and CELL/NRCCL
        (Faculty of Law, University of Oslo). We would like to especially thank
        Lovdata for financial support in the first phase and we are open to new
        partners joining as the project moves forward.
      </p>

      <br />
      <div class="container-fluid">
        <div class="row jumbotron">
          <div class="col-md-4">
            <div class="about-jumbotron">
              <h4 class="font-weight-light ajustify">
                <em>
                  <a href="https://www.tech-r.org/" target="_blank">
                    Tech-R (Technology for Human Rights)</a
                  >
                  is dedicated to finding ways of using technology for the
                  protection and fulfilment of human rights, and this project is
                  an important step in fulfilling our mission. <br />
                  The team working on this project is led by Lelia Marcau, and
                  Kumar Aman developed the website, Nabil Ouhi designed our logo
                  and the entire graphics of the website, and Dan Costin is
                  working on developing NLP algorithms that will help improve
                  the quality of the applications to the ECtHR.
                </em>
              </h4>
            </div>
          </div>
          <!-- Dan Costin is the brilliant mind behind the Machine Learning algorithms  -->
          <div class="col-md-4">
            <div class="about-jumbotron">
              <h4 class="font-weight-light ajustify">
                <em
                  >This project is a pilot for the new innovation lab at the
                  Faculty of Law at the University of Oslo. The lab is hosted by
                  the
                  <a href="https://www.jus.uio.no/cell/" target="_blank">
                    Centre for Experiential Legal Learning (CELL)</a
                  >
                  (A centre of excellence in education) and the Norwegian
                  Research Center for Computers and Law (NRCCL). The project
                  team is led by Professor Malcolm Langford together with Ph.D
                  fellow Runar Lie.
                </em>
              </h4>
            </div>
          </div>
          <div class="col-md-4">
            <div class="about-jumbotron">
              <h4 class="font-weight-light ajustify">
                <em
                  >Andra Matei, the leader of Avant-Garde Lawyers and former
                  lawyer at the European Court of Human Rights, undertook the
                  legal quality assurance for our digital form.</em
                >
              </h4>
            </div>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>

{% endblock content %}
