.jumbotron {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url("/static/home/images/bg2.jpg");
  background-size: cover;
  line-height: 1.5;
}

.container-ext {
  background-color: white !important;
  margin-bottom: 10rem;
  padding: 5rem;
}

#extResources a:hover {
  color: #1aa6b7;
  font-size: 110%;
}

#extResources li {
  line-height: 2;
}

.extPButton {
  float: right;
  margin-right: 30px;
  padding: 3px 8px;
}
