{% extends 'home/base.html' %}
{% load static %}
{% block headContent %}
<link rel="stylesheet" href="{% static 'applicationForm/css/animate.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'applicationForm/rmodal/rmodal.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'applicationForm/css/finalPage.css' %}" type="text/css" />
<style type="text/css">
    .modal .modal-dialog {
        width: 400px;
    }
</style>

<script type="text/javascript">
    window.onload = function () {
        var modal = new RModal(document.getElementById('modal_finalPage'), {
            //content: 'Abracadabra'
            beforeOpen: function (next) {
                console.log('beforeOpen');
                next();
            }
            , afterOpen: function () {
                console.log('opened');
            }

            , beforeClose: function (next) {
                console.log('beforeClose');
                next();
            }
            , afterClose: function () {
                console.log('closed');
            }
            /*  , bodyClass: 'modal-open'
              , dialogClass: 'modal-dialog'
             , dialogOpenClass: 'animated fadeIn'
              , dialogCloseClass: 'animated fadeOut'

              , focus: true
             , focusElements: ['input.form-control', 'textarea', 'button.btn-primary']

              , escapeClose: true */
        });

        document.addEventListener('keydown', function (ev) {
            modal.keydown(ev);
        }, false);


        var elementsArray = document.querySelectorAll(".showEmailModal");
        elementsArray.forEach(function (elem) {
            elem.addEventListener("click", function (ev) {
                ev.preventDefault();
                modal.open();
            }, false);
        });
        window.modal = modal;
    }
</script>
{% endblock headContent %}

{% block content %}
<div class="jumbotron allButFooter"
    style="margin-bottom: 0;background: linear-gradient(to bottom,  #1f549e 0%,#2989d8 100%);">
    <div class="finalPageHeader">
        <h5 id="finalPage-title"> Your Application Form to the European Court of Human Rights is ready! <br> You can
            download it as a PDF or you can send it as an attachment to your email address.</h5>
    </div>
    <div class="col-md-12 mx-auto form-section">
        <div class="card-body">
            <div class="text-center"> <img src="{% static 'images/team.png' %}" width=20%;></div>
            <br>
            <div class="buttonHolder">
                
                <a href="{% url 'download' %}" download><button class="btn btn-primary pdfButton">Download as PDF</button></a>

                <button class="showEmailModal btn btn-primary">Send PDF to Email</button>
            </div>
        </div>


    </div> <!-- /container -->
</div>
<!--<a href="{% url 'pdf_email' %}"></a> -->
<div id="modal_finalPage" class="modal">
    <div class="modal-dialog animated">
        <div class="modal-content">
            <form action="{% url 'pdf_email' %}" method="POST" class="email_form">
                {% csrf_token %}
                <div class="modal-header">
                    <strong>
                        <h5 align="center">Please enter your email </h5>
                    </strong>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="pdfEmail"></label>
                        <input type="email" name="pdf_sendEmail" id="pdfEmail">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" type="button" onclick="modal.close();">Cancel</button>
                        <button type="submit" onclick="modal.close();" class="btn btn-dark email_submit">Send
                            PDF</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




{% endblock content %}
{% block scriptContent %}

<script src="{% static 'applicationForm/rmodal/rmodal.min.js' %}"></script>
<script src="{% static 'applicationForm/js/finalPage.js' %}"></script>
{% endblock scriptContent %}