{% extends 'home/base.html' %}
{% load static %}
{% block headContent %}
<link rel="stylesheet" href="{% static 'applicationForm/css/finalPage.css' %}" type="text/css" />

<script type="text/javascript">
    if (!!window.performance && window.performance.navigation.type === 2) {
        // value 2 means "The page was accessed by navigating into the history"
        alert('Reloading');
        window.location.reload(); // reload whole page

    }
</script>

{% endblock headContent %}

{% block content %}
<div class="jumbotron allButFooter"
    style="margin-bottom: 0;background: linear-gradient(to bottom,  #1f549e 0%,#2989d8 100%);">
    <div class="finalPageHeader">
        <h5 id="finalPage-title"> Your Application Form to the European Court of Human Rights is ready! <br> You can
            download it as a PDF or you can send it as an attachment to your email address.</h5>
    </div>
    <div class="col-md-12 mx-auto form-section">
        {% csrf_token %}
        <div class="card-body">
            <div class="text-center"> <img src="{% static 'about/images/team.png' %}" width=20%;></div>
            <br>
            <div class="buttonHolder">
                
                <a href="{% url 'download' %}" download><button class="btn btn-primary pdfButton">Download as PDF</button></a>

                <button id="pdfEmail" class="btn btn-primary">Send PDF to Email</button>
            </div>
        </div>


    </div> 
</div>


{% endblock content %}
{% block scriptContent %}

<script type="text/javascript" src="{% static 'applicationForm/axios/axios.min.js' %}"></script>
<script type="text/javascript" src="{% static 'applicationForm/js/finalPage.js' %}"></script>
{% endblock scriptContent %}