{% extends 'home/base.html' %}
{% load static %}
{% block headContent %}

{% comment %}
<link rel="stylesheet" href="{% static 'applicationForm/datepicker/bootstrap-datepicker.min.css' %}" type="text/css">
{% endcomment %}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
    integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% comment %}
<link rel="stylesheet" href="{% static 'applicationForm/intlTelInput/intlTelInput.min.css' %}"> {% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.16/css/intlTelInput.css"
    integrity="sha512-gxWow8Mo6q6pLa1XH/CcH8JyiSDEtiwJV78E+D+QP0EVasFs8wKXq16G8CLD4CJ2SnonHr4Lm/yY2fSI2+cbmw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% comment %}
<link rel="stylesheet" href="{% static 'applicationForm/stepper/bs-stepper.min.css' %}"> {% endcomment %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css" />
<link rel="stylesheet" href="{% static 'applicationForm/css/formStyles.css' %}">
<link rel="stylesheet" href="{% static 'applicationForm/parsley/parsley.css' %}">
{% comment %}
<link rel="stylesheet" href="{% static 'applicationForm/countrySelect/countrySelect.min.css' %}"> {% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/country-select-js/2.1.0/css/countrySelect.min.css"
    integrity="sha512-HHSUgqDtmyVfGT0pdLVRKcktf9PfLMfFzoiBjh9NPBzw94YFTS5DIwZ12Md/aDPcrkOstXBp9uSAOCl5W2/AOQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% comment %}
<link rel="stylesheet" href="{% static 'applicationForm/tagsinput/tagsinput.css' %}"> {% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css"
    integrity="sha512-uKwYJOyykD83YchxJbUxxbn8UcKAQBu+1hcLDRKZ9VtWfpMb1iYfJ74/UIjXQXWASwSzulZEC1SFGj+cslZh7Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% comment %}
<link rel="stylesheet" href="{% static 'applicationForm/BSMultiSelect/BsMultiSelect.min.css' %}"> {% endcomment %}
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@dashboardcode/bsmultiselect@1.1.18/dist/css/BsMultiSelect.min.css" />
{% comment %}
<link rel="stylesheet" href="{% static 'applicationForm/css/animate.min.css' %}" type="text/css" /> {% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="{% static 'applicationForm/rmodal/rmodal.css' %}" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/6.3.7/tippy.min.css"
    integrity="sha512-HbPh+j4V7pXprvQMt2dtmK/zCEsUeZWYXRln4sOwmoyHPQAPqy/k9lIquKUyKNpNbDGAY06UdiDHcEkBc72yCQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<style type="text/css">
    .modal .modal-dialog {
        width: 400px;
    }
</style>

<script type="text/javascript">
    window.onload = function () {
        var modal = new RModal(document.getElementById('modal'), {
            //content: 'Abracadabra'
            beforeOpen: function (next) {
                console.log('beforeOpen');
                next();
            },
            afterOpen: function () {
                    console.log('opened');
                }

                ,
            beforeClose: function (next) {
                console.log('beforeClose');
                next();
            },
            afterClose: function () {
                console.log('closed');
            }
            /*  , bodyClass: 'modal-open'
              , dialogClass: 'modal-dialog'
             , dialogOpenClass: 'animated fadeIn'
              , dialogCloseClass: 'animated fadeOut'

              , focus: true
             , focusElements: ['input.form-control', 'textarea', 'button.btn-primary']

              , escapeClose: true */
        });

        document.addEventListener('keydown', function (ev) {
            modal.keydown(ev);
        }, false);


        var elementsArray = document.querySelectorAll(".showModal");
        elementsArray.forEach(function (elem) {
            elem.addEventListener("click", function (ev) {
                ev.preventDefault();
                modal.open();
            }, false);
        });
        /* document.getElementById('showModal1').addEventListener("click", function(ev) {
             ev.preventDefault();
             modal.open();
         }, false);
         document.getElementById('showModal2').addEventListener("click", function(ev) {
           ev.preventDefault();
           modal.open();
       }, false);
       document.getElementById('showModal3').addEventListener("click", function(ev) {
           ev.preventDefault();
           modal.open();
       }, false);  */
        window.modal = modal;
    }
</script>
{% endblock headContent %}

{% block content %}
<div id="modal" class="modal">
    <div class="modal-dialog animated">
        <div class="modal-content">
            <form action="{% url 'feedback' %}" method="POST" class="feedback_form">
                {% csrf_token %}
                <div class="modal-header">
                    <strong>
                        <h5 align="center">Please send us your feedback </h5>
                    </strong>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for=""> Are you a legally trained person?</label>
                        <input type="text" id="sugPageNo" class="is-hidden" name="sugPageNo">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="legalTrainYesFirst" name="legalTrained"
                                value="Yes">
                            <label class="custom-control-label" for="legalTrainYesFirst">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="legalTrainNoFirst" name="legalTrained"
                                value="No">
                            <label class="custom-control-label" for="legalTrainNoFirst">No</label>
                        </div>
                        <input type="text" class="is-hidden" name="legalTrainedInput">
                    </div>
                    <div class="form-group">
                        <label for="suggestionArea">How can we improve this page?</label>
                        <textarea class="form-control " name="suggestionArea" type="text" rows="5"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" onclick="modal.close();">Cancel</button>
                    <button type="submit" onclick="modal.close();" class="btn feedback-button feedback_submit">Send your
                        message</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="jumbotron" style="margin-bottom: 0;background: linear-gradient(to bottom,  #1f549e 0%,#2989d8 100%)">
    <br>
    <h1 class="display-5" id="form-title">
        APPLICATION FORM
    </h1>

    <div class=" mb-5 p-4" style="background-color:transparent;">
        <div id="stepperForm" class="bs-stepper ">
            <div class="bs-stepper-header" role="tablist">
                <div class="step " data-target="#form-page-1">
                    <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger1"
                        aria-controls="form-page-1">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Prerequisites</span>
                    </button>
                </div>
                <!-- <div class="bs-stepper-line"></div> -->

                <div class="step" data-target="#form-page-2">
                    <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger2"
                        aria-controls="form-page-2">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Applicant Details</span>
                    </button>
                </div>
                <!-- <div class="bs-stepper-line"></div> -->
                <div class="step" data-target="#form-page-3">
                    <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger3"
                        aria-controls="form-page-3">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">Representation</span>
                    </button>
                </div>
                <!-- <div class="bs-stepper-line"></div> -->
                <div class="step" data-target="#form-page-4">
                    <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger4"
                        aria-controls="form-page-4">
                        <span class="bs-stepper-circle">4</span>
                        <span class="bs-stepper-label">Facts</span>
                    </button>
                </div>
                <!-- <div class="bs-stepper-line"></div> -->
                <div class="step" data-target="#form-page-5">
                    <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger5"
                        aria-controls="form-page-5">
                        <span class="bs-stepper-circle">5</span>
                        <span class="bs-stepper-label">Alleged violations of the Convention/Protocols</span>
                    </button>
                </div>
                <!-- <div class="bs-stepper-line"></div> -->
                <div class="step" data-target="#form-page-6">
                    <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger6"
                        aria-controls="form-page-6">
                        <span class="bs-stepper-circle">6</span>
                        <span class="bs-stepper-label">Domestic Proceedings</span>
                    </button>
                </div>
                <!-- <div class="bs-stepper-line"></div> -->
                <div class="step" data-target="#form-page-7">
                    <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger7"
                        aria-controls="form-page-7">
                        <span class="bs-stepper-circle">7</span>
                        <span class="bs-stepper-label">International Proceedings</span>
                    </button>
                </div>
                <div class="step" data-target="#form-page-8">
                    <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger8"
                        aria-controls="form-page-8">
                        <span class="bs-stepper-circle">8</span>
                        <span class="bs-stepper-label">Supporting documents</span>
                    </button>
                </div>
                <div class="step" data-target="#form-page-9">
                    <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger9"
                        aria-controls="form-page-9">
                        <span class="bs-stepper-circle">9</span>
                        <span class="bs-stepper-label">Other Comments and Declaration</span>
                    </button>
                </div>
                <!-- <div class="bs-stepper-line"></div> -->
                <div class="step" data-target="#form-page-10">
                    <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger10"
                        aria-controls="form-page-10">
                        <span class="bs-stepper-circle">10</span>
                        <span class="bs-stepper-label">Review</span>
                    </button>
                </div>
                <div class="step" data-target="#form-page-11">
                    <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger11"
                        aria-controls="form-page-11">
                        <span class="bs-stepper-circle">11</span>
                        <span class="bs-stepper-label">Finish to PDF</span>
                    </button>
                </div>
            </div>
            <div class="bs-stepper-content">
                <form id="appForm" class="needs-validation" onSubmit="return false" method="POST"
                    action="{% url 'formProcessing' %}" novalidate>
                    {% csrf_token %}
                    {% include 'applicationForm/page1.html' %}
                    {% include 'applicationForm/page2.html' %}
                    {% include 'applicationForm/page3.html' %}
                    {% include 'applicationForm/page4.html' %}
                    {% include 'applicationForm/page5.html' %}
                    {% include 'applicationForm/page6.html' %}
                    {% include 'applicationForm/page7.html' %}
                    {% include 'applicationForm/page8.html' %}
                    {% include 'applicationForm/page9.html' %}
                    {% include 'applicationForm/page10.html' %}
                    {% include 'applicationForm/page11.html' %}
                </form>


            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scriptContent %}

<!-- <script src="{% static 'applicationForm/autosize/autosize.min.js' %}"></script>
<script src="{% static 'applicationForm/hypher/jquery.hypher.js' %}"></script>
<script src="{% static 'applicationForm/hypher/en-us.js' %}"></script> -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
{% comment %} <script type="text/javascript" src="{% static 'applicationForm/parsley/parsley.min.js' %}"></script>
{% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"
    integrity="sha512-eyHL1atYNycXNXZMDndxrDhNAegH2BDWt1TmkXJPoGf1WLlNYt08CSjkqF5lnCRmdm3IrkHid8s2jOUY4NIZVQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% comment %} <script type="text/javascript" src="{% static 'applicationForm/tagsinput/tagsinput.js' %}"></script>
{% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"
    integrity="sha512-wTIaZJCW/mkalkyQnuSiBodnM5SRT8tXJ3LkIUA/3vBJ01vWe5Ene7Fynicupjt4xqxZKXA97VgNBHvIf5WTvg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="{% static 'applicationForm/tagsinput/custom.js' %}"></script>
{% comment %} <script type="text/javascript"
    src="{% static 'applicationForm/datepicker/jquery-dropdown-datepicker.min.js' %}"></script> {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/jquery-dropdown-datepicker@1.3.0/dist/jquery-dropdown-datepicker.min.js">
</script>
{% comment %} <script type="text/javascript"
    src="{% static 'applicationForm/datepicker/bootstrap-datepicker.min.js' %}"></script> {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
    integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="{% static 'applicationForm/datepicker/datePicker.js' %}"></script>
<script type="text/javascript" src="{% static 'applicationForm/popperjs/popper.min.js' %}"></script>

{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.4/umd/popper.min.js"
    integrity="sha512-+Tn2V/oN9O/kiaJg/1o5bETqyS35pMDJzkhkf8uvCzxmRox69AsWkSpBSMEGEe4EZp07Nunw712J3Xvh5Tti0w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script> {% endcomment %}
<script type="text/javascript" src="{% static 'applicationForm/BSMultiSelect/BsMultiSelect2.js' %}">
</script>
{% comment %} <script
    src=" https://cdn.jsdelivr.net/npm/@dashboardcode/bsmultiselect@1.1.18/dist/js/BsMultiSelect.min.js"
    type="text/javascript"></script> {% endcomment %}
{% comment %} <script type="text/javascript" src="{% static 'applicationForm/momentjs/moment.min.js' %}"></script>
{% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
    integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% comment %} <script type="text/javascript" src="{% static 'applicationForm/axios/axios.min.js' %}"></script>
{% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
    integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="{% static 'applicationForm/js/apiScripts.js' %}"></script>
<script type="text/javascript" src="{% static 'applicationForm/js/jquery.form-repeater.js' %}"></script>
<script type="text/javascript" src="{% static 'applicationForm/js/textCounter.min.js' %}"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/6.3.7/tippy.umd.min.js"
    integrity="sha512-2TtfktSlvvPzopzBA49C+MX6sdc7ykHGbBQUTH8Vk78YpkXVD5r6vrNU+nOmhhl1MyTWdVfxXdZfyFsvBvOllw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="{% static 'applicationForm/js/formScripts.js' %}"></script>
<script type="text/javascript" src="{% static 'applicationForm/rmodal/rmodal.min.js' %}"></script>
<script type="text/javascript" src="{% static 'applicationForm/js/validationScripts.js' %}"></script>
{% comment %} <script type="text/javascript" src="{% static 'applicationForm/stepper/bs-stepper.min.js' %}"></script>
{% endcomment %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>
{% comment %} <script type="text/javascript" src="{% static 'applicationForm/intlTelInput/intlTelInput.min.js' %}">
</script> {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.16/js/intlTelInput.min.js"
    integrity="sha512-Po9nSdYOcWIcoADdRjkAbRYPpR8OHjxzA/3RDUERZcDewTLzRTxbG4bUX7Sr7lVEcO3wTCzphdOBWgNFKVmxaA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% comment %} <script type="text/javascript" src="{% static 'applicationForm/intlTelInput/utils.js' %}"></script>
{% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.16/js/utils.js"
    integrity="sha512-wPy1fNW7ZZpTsbOIUHi0FOpKiEmyeFUH3GXMk7EBE/SbyAzAUEMa8V0JVORN9UmLhHfhRJPog0lGC7Zb9Ab1Ww=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="{% static 'applicationForm/countrySelect/countrySelect.min.js' %}">
</script>
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/country-select-js/2.1.0/js/countrySelect.min.js"
    integrity="sha512-criuU34pNQDOIx2XSSIhHSvjfQcek130Y9fivItZPVfH7paZDEdtAMtwZxyPq/r2pyr9QpctipDFetLpUdKY4g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script> {% endcomment %}
<script type="text/javascript" src="{% static 'applicationForm/js/countryScripts.js' %}"></script>
<script type="text/javascript" src="{% static 'applicationForm/js/phoneScripts.js' %}"></script>
<script type="text/javascript" src="{% static 'applicationForm/js/prereqFormScripts.js' %}"></script>
<script type="text/javascript" src="{% static 'applicationForm/js/review.js' %}"></script>


<script>
    window.Parsley.addValidator('intlTelNo', {
        requirementType: 'integer',
        validateNumber: (val, requirement, options) => {
            return $(options.element).intlTelInput("isValidNumber");
        },
        messages: {
            en: 'Please enter a valid phone number.'
        }
    });
</script>
<script>
    $(function () {
        $('[data-toggle="popover"]').popover({
            container: "body"
        });
    });
</script>
<script>
    var homeUrl = "{% url 'home' %}"
</script>
<script>
    window.addEventListener("pageshow", function () {
        var form = $('#appForm');
        // let the browser natively reset defaults
        form[0].reset();
    });
</script>

{% endblock scriptContent %}