<div id="form-page-5" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepperFormTrigger5">
  <div class="col-md col-md-12 mx-auto form-section">
    {% load static %}
    {% load i18n %}
    <div class="row">
      <div class="card-master col-12 col-md-12">
        <div class="card-master-header">
          <h4 class="card-header-title acenter">{% trans 'Page5_Heading' %}</h4>
        </div>

        <div class="card-body alert-info">
          <label>
            <h4 class="ajustify"> {% trans 'Page5_Heading_Description' %}
            </h4>
          </label>
          <br />

          <div class="form-group">
            <div class="articleExample">
              <h4 class="alert-heading">{% trans 'Text_Examples' %}</h4>
              <table class="table-bordered">
                <thead style="border: none">
                  <tr style="background-color: #2679c7; color: white">
                    <th scope="col" width="25%">{% trans 'Page5_Header_ArticlesInvoked' %}</th>
                    <th scope="col">{% trans 'Page5_Header_Explanation' %}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      {% trans 'Page5_Ex1_Article' %}
                    </td>
                    <td>{% trans 'Page5_Ex1_Explanation' %}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {% trans 'Page5_Ex2_Article' %}
                    </td>
                    <td>{% trans 'Page5_Ex2_Explanation' %}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {% trans 'Page5_Ex3_Article' %}
                    </td>
                    <td>{% trans 'Page5_Ex3_Explanation' %}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br />
            <br />
            <hr />
            <div id="page5Group">
              <div class="a-group">
                <table width="100%" style="border: none">
                  <tr>
                    <td class="page5TableTDSelect">
                      <label class="lead" for="articleSelect">
                        <h4>{% trans 'Page5_Header_ArticlesInvoked' %}</h4>
                      </label>
                      <select name="page5[0][articleSelect]" id="article_0_select" class="form-control articleSelect"
                        data-parsley-group="page5" data-pattern-name="page5[++][articleSelect]"
                        data-pattern-id="article_++_select"
                        onchange="populateDiv(this.id, '.descDiv1'); articleWrapper(this, 26, true);toggleAddButton(this);"></select>
                      <br>
                      <div class="descDiv1">

                      </div>

                      <div class="is-hidden page5AlertText">
                        <p class="alert alert-danger">{% trans 'Page5_Please_Choose_One' %}</p>
                      </div>
                      <div class="conjArticle">
                        <div class="secondSelectDiv">
                        </div>
                        <div class="is-hidden page5SecondAlertText">
                          <p class="alert alert-danger">{% trans 'Page5_Please_Choose_One' %}</p>
                        </div>
                      </div>
                    </td>
                    <td width="25%" style="padding-right: 10px; border: none" class="is-hidden">
                      <label for="articleArea">Article(s) Area </label>
                      <textarea name="page5[0][articleArea]" id="article_0_area" class="form-control articleArea"
                        data-parsley-group="page5" data-pattern-name="page5[++][articleArea]"
                        data-pattern-id="article_++_area"></textarea>
                    </td>
                    <td class="page5TableTDArea">
                      <label class="lead">
                        <h4>{% trans 'Page5_Header_Explanation' %}</h4>
                      </label>
                      <textarea class="form-control articleExplanation articleExpCounter"
                        name="page5[0][articleExplanation]" id="article_0_explanation"
                        data-pattern-id="article_++_explanation" data-pattern-name="page5[++][articleExplanation]"
                        oninput="articleWrapper(this,72,false,false);" onpaste="articleWrapper(this, 72, false,true);"
                        onfocus="getCounterValue(this);" onblur="hideCounterElement(this);" cols="30" rows="10"
                        data-parsley-group="page5" style="width: 80ch; padding: 10px"></textarea>

                      <br />
                      <div class="explanationCounter is-hidden">
                        {% trans 'Lines_Remaining' %}:
                      </div>
                      <div class="textAreaLimitWarningDiv alert alert-danger is-hidden">
                        {% trans 'Page5_Text_Area_Limit_Warning' %}
                      </div>
                    </td>

                    <p>
                      <!-- Add a remove button for the item. If one didn't exist, it would be added to overall group -->
                    </p>
                  </tr>
                </table>
                <div class="container page5Div is-hidden">

                  <div class="row">
                    <div class="nameDiv"></div>
                    <div class="descDiv" style="padding-left: 30px; padding-right: 30px"></div>
                  </div>
                  <hr>
                  <div class="row">
                    <div>
                    </div>
                  </div>
                  <hr />
                </div>
                <div class="addButtonWarningDiv alert alert-danger is-hidden">
                  {% trans 'Page5_Cannot_Add_More_Warning' %}</div>
                <div class="page5GroupButtonsDiv">
                  <button type="button" class="a-btnAdd btn btn-primary page5_addButton" id="addButton_5_0"
                    data-pattern-id="addButton_5_++" disabled>
                    {% trans 'Add_Button' %} +
                  </button>
                  <button type="button" class="a-btnRemove btn btn-danger">
                    {% trans 'Remove_Button' %} -
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-6 aleft">
                <button class="btn btn-primary" onclick="stepperForm.previous()">
                  {% trans 'Button_Previous' %}
                </button>
              </div>
              <div class="col-sm-6 aright">
                <button class="btn btn-primary btn-next-form" onclick="stepperForm.next()">
                  {% trans 'Button_Next' %}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>