<div id="form-page-8" role="tabpanel" class="bs-stepper-pane fade text-center" aria-labelledby="stepperFormTrigger8">
  <div class="col-12 col-md-12 mx-auto form-section">
    {% load static %}
    {% load i18n %}
    <div class="row">
      <div class="card-master col-12 col-md-12">
        <div class="card-master-header">
          <h4 class="card-header-title acenter">{% trans 'Page8_Heading' %}</h4>
        </div>
        <div class="card-body">
          <div class="section aleft">
            <h3 class="acenter">{% trans 'Page8_Subheading' %}</h3>
            <br>
            <h4>{% trans 'Page8_Description1' %}
            </h4>
            <div>
              <h4>{% trans 'Page8_Description2' %}
              </h4>
              <ul>
                <li>
                  <h4>
                    {% trans 'Page8_Description2_1' %}
                  </h4>
                </li>
                <li>
                  <h4>{% trans 'Page8_Description2_2' %}</h4>
                </li>
                <li>
                  <h4>{% trans 'Page8_Description2_3' %}</h4>
                </li>
              </ul>
            </div>

            <div class="text-center">
              <button class="btn more-info-button" data-toggle="collapse" data-target="#info-5">
                {% trans 'Button_MoreInfo' %}
              </button>
            </div>
            <br />
            <div id="info-5" class="collapse">
              <h5 class="ajustify"> {% trans 'Page8_MoreInfo_Text' %}
                <br />
              </h5>
              <hr style="border-top: 3px solid rgba(0, 0, 0, 0.4)" />
            </div>

            <div class="form-group">
              <div id="page8Spinner">
                <div class="flower-spinner">
                  <div class="dots-container">
                    <div class="bigger-dot">
                      <div class="smaller-dot"></div>
                    </div>
                  </div>
                </div>
                <h6 class="spinner-text text-center">{% trans 'Page8_Loading_Documents' %}</h6>
              </div>
              <div id="page8Group">
                <div class="r-group">
                  <table width="100%">
                    <tr>
                      <th width="12%">
                        <label for="doc_0_0">
                          <h5>{% trans 'Page8_Heading_Date' %}</h5>
                        </label>
                        <input type="text" name="page8[0][date]" id="doc_0_date"
                          class="form-control datepicker docsDate" data-pattern-name="page8[++][date]"
                          data-pattern-id="doc_++_date" data-date-end-date="0d" data-parsley-group="page8"
                          data-parsley-trigger-after-failure="change" required />
                      </th>
                      <th width="30%" style="padding-right: 10px">
                        <label for="doc_0_0">
                          <h5>{% trans 'Page8_Heading_Title' %}</h5>
                        </label>
                        <input type="text" name="page8[0][title]" id="doc_0_title" class="form-control docsTitle"
                          data-pattern-name="page8[++][title]" data-pattern-id="doc_++_title" maxlength="65"
                          data-parsley-group="page8" required />
                      </th>
                      <th width="40%" style="padding-right: 10px">
                        <label for="doc_0_0">
                          <h5>{% trans 'Page8_Heading_Description' %}</h5>
                        </label>
                        <input type="text" name="page8[0][desc]" id="doc_0_desc" class="form-control docsDesc"
                          data-pattern-name="page8[++][desc]" data-pattern-id="doc_++_desc" maxlength="70"
                          data-parsley-group="page8" required />
                      </th>
                      <th width="18%">
                        <label for="doc_0_0" style="display: flex">
                          <h5>{% trans 'Page8_Heading_Page' %}</h5><a href="javascript://"
                            class="popover-class"><span><i class="fas fa-question-circle"></i></span></a>

                        </label>
                        <input type="number" name="page8[0][page]" id="doc_0_page" class="form-control docsPages"
                          data-pattern-name="page8[++][page]" data-pattern-id="doc_++_page" min="1"
                          data-parsley-group="page8" required />
                      </th>
                    </tr>
                  </table>
                  <input type="hidden" class="hiddenDocObject" name="page8[hiddenDocObject]" value="" />
                  <div class="page8ButtonContainer">
                    <button type="button" class="r-btnAdd btn btn-primary" id="addButton_8_0"
                      data-pattern-id="addButton_8_++">
                      {% trans 'Add_Button' %} +
                    </button>
                    <button type="button" class="r-btnRemove btn btn-danger">
                      {% trans 'Remove_Button' %} -
                    </button>
                  </div>
                </div>
                <!-- add button here -->
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-sm-6 aleft">
                    <button class="btn btn-primary" onclick="stepperForm.previous()">
                      {% trans 'Button_Previous' %}
                    </button>
                  </div>
                  <div class="col-sm-6 aright">
                    <button class="btn btn-primary btn-next-form" onclick="stepperForm.next()">
                      {% trans 'Button_Next' %}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>