<div id="form-page-1" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepperFormTrigger1">
  <div class="col-12 col-md-12 mx-auto form-section">
    {% load static %}
    {% load i18n %}
    <div class="row">
      <div class="card-master col-12 col-md-12">
        <div class="card-master-header">
          <h4 class="card-header-title acenter">{% trans 'Page1_Heading' %}</h4>
        </div>
        <div class="card-body">
          <div class="container">
            <p class="lead">
              {% trans 'Page1_Instruction' %}
            </p>
            <br /><br />
          </div>
          <ol>
            <li class="ordLists">
              <label class="lead">
                <h4>
                  {% trans 'Page1_Qn1' %}
                  <a href="javascript://" data-toggle="popover" data-content="{% trans 'Page1_Qn1_Popover' %}"
                    data-trigger="focus" data-placement="bottom">
                    <span><i class="fas fa-question-circle"></i></span></a>
                </h4>
              </label>
              <div class="row">
                <div class="form-group col-md-12 col-lg-12">
                  <select multiple class="show-menu-arrow form-control" name="page1[involvedStates]" id="involvedStates"
                    data-parsley-group="page1">
                    <option value="Albania">{% trans 'Albania' %}</option>
                    <option value="Andorra">{% trans 'Andorra' %}</option>
                    <option value="Armenia">{% trans 'Armenia' %}</option>
                    <option value="Austria">{% trans 'Austria' %}</option>
                    <option value="Azerbaijan">{% trans 'Azerbaijan' %}</option>
                    <option value="Belgium">{% trans 'Belgium' %}</option>
                    <option value="Bulgaria">{% trans 'Bulgaria' %}</option>
                    <option value="Bosnia and Herzegovina">
                      {% trans 'Bosnia and Herzegovina' %}
                    </option>
                    <option value="Croatia">{% trans 'Croatia' %}</option>
                    <option value="Cyprus">{% trans 'Cyprus' %}</option>
                    <option value="Czech Republic">{% trans 'Czech Republic' %}</option>

                    <option value="Denmark">{% trans 'Denmark' %}</option>

                    <option value="Estonia">{% trans 'Estonia' %}</option>
                    <option value="Finland">{% trans 'Finland' %}</option>
                    <option value="France">{% trans 'France' %}</option>

                    <option value="Georgia">{% trans 'Georgia' %}</option>
                    <option value="Germany">{% trans 'Germany' %}</option>
                    <option value="Greece">{% trans 'Greece' %}</option>

                    <option value="Hungary">{% trans 'Hungary' %}</option>
                    <option value="Ireland">{% trans 'Ireland' %}</option>
                    <option value="Iceland">{% trans 'Iceland' %}</option>
                    <option value="Italy">{% trans 'Italy' %}</option>
                    <option value="Liechtenstein">{% trans 'Liechtenstein' %}</option>
                    <option value="Lithuania">{% trans 'Lithuania' %}</option>
                    <option value="Luxembourg">{% trans 'Luxembourg' %}</option>
                    <option value="Latvia">{% trans 'Latvia' %}</option>
                    <option value="Malta">{% trans 'Malta' %}</option>
                    <option value="Monaco">{% trans 'Monaco' %}</option>
                    <option value="Republic of Moldova">
                      {% trans 'Republic of Moldova' %}
                    </option>
                    <option value="North Macedonia">{% trans 'North Macedonia' %}</option>

                    <option value="Montenegro">{% trans 'Montenegro' %}</option>
                    <option value="Netherlands">{% trans 'Netherlands' %}</option>
                    <option value="Norway">{% trans 'Norway' %}</option>
                    <option value="Poland">{% trans 'Poland' %}</option>
                    <option value="Portugal">{% trans 'Portugal' %}</option>
                    <option value="Romania">{% trans 'Romania' %}</option>
                    <option value="Russian Federation">
                      {% trans 'Russian Federation' %}
                    </option>
                    <option value="San Marino">{% trans 'San Marino' %}</option>
                    <option value="Serbia">{% trans 'Serbia' %}</option>
                    <option value="Slovak Republic">{% trans 'Slovak Republic' %}</option>
                    <option value="Slovenia">{% trans 'Slovenia' %}</option>
                    <option value="Spain">{% trans 'Spain' %}</option>
                    <option value="Sweden">{% trans 'Sweden' %}</option>
                    <option value="Switzerland">{% trans 'Switzerland' %}</option>
                    <option value="Turkey">{% trans 'Turkey' %}</option>
                    <option value="Ukraine">{% trans 'Ukraine' %}</option>
                    <option value="United Kingdom">{% trans 'United Kingdom' %}</option>
                  </select>
                </div>
              </div>
            </li>
            <li class="ordLists">
              <label class="lead">
                <h4>{% trans 'Page1_Qn2' %}:</h4>
              </label>
              <div class="form-group">
                <div id="error-container-concern">
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="concernYouYes" name="page1[concernYou]"
                      value="ConcernIndividual" data-parsley-errors-container="#error-container-concern"
                      data-parsley-group="page1" />
                    <label class="custom-control-label" for="concernYouYes">
                      You directly</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="concernYouNo" name="page1[concernYou]"
                      value="ConcernOrganisation" data-parsley-errors-container="#error-container-concern"
                      data-parsley-group="page1" />
                    <label class="custom-control-label" for="concernYouNo">Your organisation
                    </label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="concernYouOther" name="page1[concernYou]"
                      value="OtherClose" data-parsley-errors-container="#error-container-concern"
                      data-parsley-group="page1" />
                    <label class="custom-control-label" for="concernYouOther">A close relative or a person under your
                      care or
                      responsibility who is unable to lodge an application
                      <a href="javascript://" data-toggle="popover"
                        data-content="The Convention institutions have held that special considerations may arise in the case of victims of alleged breaches of Articles 2 (right to life), 3 (prohibition of torture) and 8 (right to respect for private and family life) at the hands of the national authorities. In this case you need to show legitimate interest in pursuing the application before the Court."
                        data-trigger="focus" data-placement="bottom"><span><i
                            class="fas fa-question-circle"></i></span></a>
                    </label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="concernYouIndividual" name="page1[concernYou]"
                      value="ClientIndividual" data-parsley-errors-container="#error-container-concern"
                      data-parsley-group="page1" />
                    <label class="custom-control-label" for="concernYouIndividual">My client who is an individual person
                    </label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="concernYouJuridical" name="page1[concernYou]"
                      value="ClientJuridical" data-parsley-errors-container="#error-container-concern"
                      data-parsley-group="page1" />
                    <label class="custom-control-label" for="concernYouJuridical">My client who is a juridical person
                    </label>
                  </div>
                </div>
              </div>
            </li>
            <li class="ordLists">
              <div class="form-group">
                <label class="lead">
                  <h4>
                    When did the alleged breach of the European Convention on Human Rights that you are complaining
                    about happen? If you are not sure as to the exact day and month, please choose a date that is
                    closest to the events.
                  </h4>
                </label>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <input type="text" id="decisionDate1" class="datepicker form-control" placeholder="Choose Date"
                        name="page1[decisionDate1]" data-date-end-date="0d" data-parsley-group="page1" />
                    </div>
                    <!-- <div class="input-group" id="datepicker">
                      <input type="text" class="input-sm form-control" name="page1[decisionDate1]"
                        data-date-end-date="0d" id="decisionDate1" placeholder="Choose Date" />
                      <div class="input-group-append input-group-prepend">
                        <span class="input-group-text">To</span>
                      </div>
                      <input type="text" class="input-sm form-control" name="end" data-date-end-date="0d"
                        id="decisionDate2" name="page1[decisionDate2]" placeholder="End" />
                    </div> -->
                  </div>
                </div>
                <div class="col-sm-10">
                  <div id="echrDetails"></div>
                </div>
              </div>
            </li>
            <li class="ordLists">
              <label class="lead">
                <h4>
                  Have you brought your case before the highest court competent to
                  deal with the subject matter of your dispute? The competent
                  national courts in the selected state(s) are in principle:
                </h4>
              </label>
              <table id="courtTable">
                <thead>
                  <tr>
                    <th scope="col">Country</th>
                    <th scope="col">Type of proceeding</th>
                    <th scope="col">National court(s)</th>
                  </tr>
                </thead>
                <tbody id="courtData"></tbody>
              </table>
              <br /><br />
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="courtCaseYes" name="page1[courtCase]"
                  value="Yes" />
                <label class="custom-control-label" for="courtCaseYes">Yes</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="courtCaseNo" name="page1[courtCase]" value="No" />
                <label class="custom-control-label" for="courtCaseNo">No</label>
              </div>
              <br />
            </li>
            <li class="ordLists">
              <label class="lead">
                <h4>
                  Were there available legal remedies capable of redressing your
                  situation that you have not used?
                  <a href="javascript://" data-toggle="popover"
                    data-content="Before you apply to the Court, you need to exhaust domestic remedies. The only remedies the Convention requires to be exhausted are those that relate to the breaches alleged and those that are available, effective and sufficient. Essential is that the competent national authorities analyzed the merits of your claim/claims."
                    data-trigger="focus" data-placement="bottom"><span><i class="fas fa-question-circle"></i></span></a>
                </h4>

                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="complySixYes" name="page1[complySix]"
                    value="Yes" />
                  <label class="custom-control-label" for="complySixYes">Yes</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="complySixNo" name="page1[complySix]"
                    value="No" />
                  <label class="custom-control-label" for="complySixNo">No</label>
                </div>
            </li>
            <li class="ordLists">
              <label class="lead">
                <h5>
                  When was the final decision in your case delivered or served on
                  you?
                  <a href="javascript://" data-toggle="popover" data-html="true"
                    data-content="Your application needs to comply with the time limit within which you have to send your application to the European Court of Human Rights. <br/>
                    The time limit starts running from the date on which you or your representative have received the final national decision. If there are no available national remedies for your case, the time limit starts running after the events being complained about occurred. <br/> <br/>
                    For decisions/events that occured before 31/01/2022 the time limit is six months (the six-month rule). <br/>
                    For decisions/events that occured on or after 01/02/2022 the time limit is four months (the four-month rule). <br/><br/>

                    Exceptions to this rule are 1) continuous violations or 2) situations where there is no remedy available. In the first case, the time limit starts to run from the end of the continuing situation. The fact that the event/alleged violation has consequences over time does not mean that the event has produced a continuing situation. In the second case, the  time limit starts running from the date on which the act complained of took place or the date on which you were directly affected. <br/>
                    Please submit your application as soon as possible. If you send it at the last moment and is incomplete, you will have no time to re-submit a complete application form within the required time limit."
                    data-trigger="focus" data-placement="top"><span><i class="fas fa-question-circle"></i></span></a>
                </h5>
              </label>
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <input type="text" id="finalDecisionDate" class="datepicker form-control"
                      name="page1[finalDecisionDate]" data-date-end-date="0d" data-parsley-group="page1" />
                  </div>
                </div>
              </div>
            </li>
            <li class="ordLists">
              <div class="form-group">
                <label class="lead">
                  <h5>
                    Do you already have a Reference number (Application number)
                    from the Court in relation to these complaints?
                  </h5>
                </label>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="referenceYes" name="page1[referenceOption]"
                    value="Yes" data-parsley-group="page1" />
                  <label class="custom-control-label" for="referenceYes">Yes</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="referenceNo" name="page1[referenceOption]"
                    value="No" data-parsley-group="page1" />
                  <label class="custom-control-label" for="referenceNo">No</label>
                </div>

                <div class="is-hidden referenceField col-sm-3">
                  <label for="referenceText">Please indicate the reference number in this box.
                  </label>
                  <input class="form-control" name="page1[referenceText]" id="referenceText" maxlength="10"
                    data-parsley-group="page1" placeholder="Example: 123456/19" />
                </div>
              </div>
            </li>
          </ol>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-6 aleft"></div>
            <div class="col-sm-6 aright">
              <button class="btn btn-primary btn-next-form" onclick="stepperForm.next()">
                Next
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>