<div id="form-page-4" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepperFormTrigger4">
  <div class="col-12 col-md-12 mx-auto form-section">
    {% load static %}
    {% load i18n %}
    <div class="row">
      <div class="card-master col-12 col-md-12">
        <div class="card-master-header">
          <h4 class="card-header-title acenter">
            {% trans 'Page4_Heading' %}
            <a href="javascript://" data-toggle="popover" data-content="{% trans 'Page4_Heading_Popover' %}"
              data-trigger="focus" data-placement="bottom"><span><i class="fas fa-question-circle"></i></span></a>
          </h4>
        </div>
        <div class="card-body">
          <div class="form-text">
            <label class="lead">
              <h4>{% trans 'Page4_Description' %}
              </h4>
            </label>
            <div class="text-center">
              <button class="btn more-info-button" data-toggle="collapse" data-target="#info-1">
                {% trans 'Button_MoreInfo' %}
              </button>
            </div>
            <div id="info-1" class="collapse">
              <ol>
                <li>
                  <h5>{% trans 'Page4_MoreInfo_1' %}</h5>
                </li>
                <li>
                  <h5>{% trans 'Page4_MoreInfo_2' %}</h5>
                </li>
                <li>
                  <h5>{% trans 'Page4_MoreInfo_3' %}
                  </h5>
                </li>
                <li>
                  <h5>{% trans 'Page4_MoreInfo_4' %}</h5>
                </li>
                <li>
                  <h5>{% trans 'Page4_MoreInfo_5' %}

                  </h5>
                </li>
                <li>
                  <h5>{% trans 'Page4_MoreInfo_6' %}
                  </h5>
                </li>
              </ol>
            </div>
          </div>
          <br />
          <br />
          <div class="form-group">
            <textarea class="form-control factsTextCounter" name="page4[stOfFacts]" id="stofFacts" cols="30" rows="20"
              data-parsley-group="page4" maxlength="15600"></textarea>
          </div>
          <div class="is-hidden" id="extraWritingArea">
            <br />
            <div id="info-2">
              <div class="form-group">
                <h4>{% trans 'Page4_Supplementary' %}</h4>
                <textarea class="form-control" name="page4[stOfFactsExtra]" id="stofFactsExtra" cols="30" rows="20"
                  maxlength="300000"></textarea>
              </div>
            </div>

            <div class="acenter">
              <button class="btn btn-danger right" id="deleteSupButton">
                {% trans 'Page4_Supplementary_Delete_Button' %}
              </button>
            </div>
            <br />
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-6 aleft">
                <button class="btn btn-primary" onclick="stepperForm.previous()">
                  {% trans 'Button_Previous' %}
                </button>
              </div>
              <div class="col-sm-6 aright">
                <button class="btn btn-primary btn-next-form" onclick="stepperForm.next()">
                  {% trans 'Button_Next' %}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>