<div id="form-page-11" role="tabpanel" class="bs-stepper-pane fade text-center" aria-labelledby="stepperFormTrigger11">
    <div class="col-12 col-md-12 mx-auto form-section">
        {% load static  %}
        {% load i18n %}
        <div class="row">
            <div class="card-master col-12 col-md-12">
                <div class="card-master-header">
                    <h4 class="card-header-title">{% trans 'Page11_Heading' %}</h4>
                </div>
                <div class="card-body alert-info">

                    <h4>{% trans 'Page11_Very_Important_Subheading' %}</h4>
                    <div class="ajustify">
                        <h5 class="acenter">{% trans 'Page11_Subheading_description' %}
                        </h5>
                        <div style="padding:5%">
                            <p class="lead"><b><u>{% trans 'Page11_Before_Mailing' %}</u></b>

                                <ol class="lead ajustify">
                                    <li>{% trans 'Page11_Before_Mailing_1' %}
                                    </li><br>
                                    <li>{% trans 'Page11_Before_Mailing_2' %}

                                        <ul>
                                            <li>{% trans 'Page11_Before_Mailing_2_1' %}</li>
                                            <li>{% trans 'Page11_Before_Mailing_2_2' %}</li>
                                            <li>{% trans 'Page11_Before_Mailing_2_3' %}</li>
                                        </ul>
                                    </li><br>
                                    <li>{% trans 'Page11_Before_Mailing_3' %}
                                    </li><br>
                                    <li>
                                        <span> {% trans 'Page11_Before_Mailing_4' %}
                                        </span> <br> <br>
                                        <div style="margin-left:100px">
                                            {% trans 'Page11_Before_Mailing_4_Address' %}
                                        </div>
                                    </li>
                                </ol>
                            </p>

                        </div>

                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary"
                            onclick="stepperForm.previous()">{% trans 'Button_Previous' %}</button>
                        <button id="form-submit-btn" type="submit" class="btn btn-primary"
                            name="appFormSubmit">{% trans 'Button_Submit_Form_Button' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>