<div id="form-page-2" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepperFormTrigger2">
  <div class="col-12 col-md-12 mx-auto form-section">
    {% load static %}
    {% load i18n %}
    <div class="row">
      <div class="card-master col-12 col-md-12">
        <div class="card-master-header">
          <h4 class="card-header-title acenter">{% trans 'Page2_Heading' %}</h4>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <label>
                <br />
                <p class="lead">
                  {% trans 'Page2_Instructions' %}
                </p>
              </label>
              <br />
              <br />
            </div>
            <div class="col-sm-6 d-flex justify-content-center">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="applicantTypeInd" name="page2[applicantType]"
                  value="Individual" data-parsley-group="page2" data-parsley-errors-container="#IndOrgError" />
                <label class="custom-control-label" for="applicantTypeInd">
                  <h4>
                    {% trans 'Page2_Option_Individual' %}
                    <a href="javascript://" data-toggle="popover"
                      data-content="{% trans 'page2_Option_Individual_Popover' %}" data-trigger="focus"
                      data-placement="bottom"><span><i class="fas fa-question-circle"></i></span></a>
                  </h4>
                </label>
              </div>
            </div>
            <div class="col-sm-6 d-flex justify-content-center">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="applicantTypeOrg" name="page2[applicantType]"
                  value="Organisation" data-parsley-group="page2" data-parsley-required />
                <label class="custom-control-label" for="applicantTypeOrg">
                  <h4>
                    {% trans 'Page2_Option_Organisation' %}
                    <a href="javascript://" data-toggle="popover"
                      data-content="{% trans 'Page2_Option_Organisation_Popover' %}" data-trigger="focus"
                      data-placement="bottom"><span><i class="fas fa-question-circle"></i></span></a>
                  </h4>
                </label>
              </div>
            </div>
          </div>
          <div class="center-content-error" id="IndOrgError"></div>

          <div class="is-hidden" id="generalPage-2">
            {% include 'applicationForm/page2/individual.html' %}
            {% include 'applicationForm/page2/organisation.html' %}
            {% include 'applicationForm/page2/anonymity.html' %}

          </div>
        </div>

        <div class="card-footer acenter">
          <div class="row">
            <div class="col-sm-6 aleft">
              <button class="btn btn-primary" onclick="stepperForm.previous()">
                {% trans 'Button_Previous' %}
              </button>
            </div>
            <div class="col-sm-6 aright">
              <button class="btn btn-primary btn-next-form" onclick="stepperForm.next()">
                {% trans 'Button_Next' %}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>