<div id="form-page-10" role="tabpanel" class="bs-stepper-pane fade text-center" aria-labelledby="stepperFormdivigger10">
  <div class="col-md-12 mx-auto form-section" id="reviewSection">
    {% load static %}
    {% load i18n %}
    <div class="row">
      <div class="card-master col-12 col-md-12">
        <div class="card-master-header">
          <h4 class="card-header-title">{% trans 'Page10_Heading' %}</h4>
        </div>
        <div class="card-body">
          <div class="accordion" id="accordionParent">
            <div class="card">
              <!--  page 1 -->
              <div class="card">
                <div class="card-header aleft" id="headingOne">
                  <div class="mb-0">
                    <div class="reviewTitle">
                      <h3>{% trans 'Page' %} 1 - {% trans 'Page1_Heading' %}</h3>
                    </div>
                    <div class="reviewDescription is-hidden">
                      <p class="reviewHeadPara lead">
                        {% trans 'Page10_ReviewDescription_1' %}
                      </p>
                    </div>

                    <div class="reviewQuestions is-hidden">
                      <div class="container-fluid" id="reviewTable">
                        <div class="reviewComponent">
                          <p class="reviewQuestion">
                            {% trans 'Page1_Qn1_Part' %}
                          </p>
                          <p class="reviewAnswer" id="page1-3"></p>
                        </div>
                        <div class="reviewComponent">
                          <p class="reviewQuestion">
                            {% trans 'Page1_Qn2' %}
                          </p>
                          <p class="reviewAnswer" id="page1-1"></p>
                        </div>
                        <div class="reviewComponent">
                          <p class="reviewQuestion">
                            {% trans 'Page1_Qn3' %}
                          </p>
                          <p class="reviewAnswer" id="page1-2"></p>
                        </div>

                        <div class="reviewComponent">
                          <p class="reviewQuestion">
                            {% trans 'Page1_Qn4_Part' %}
                          </p>
                          <p class="reviewAnswer" id="page1-4"></p>
                        </div>
                        <div class="reviewComponent">
                          <p class="reviewQuestion">
                            {% trans 'Page1_Qn5' %}
                          </p>
                          <p class="reviewAnswer" id="page1-5"></p>
                        </div>
                        <div class="reviewComponent">
                          <p class="reviewQuestion">
                            {% trans 'Page1_Qn6' %}
                          </p>
                          <p class="reviewAnswer" id="page1-6"></p>
                        </div>
                        <div class="reviewComponent">
                          <p class="reviewQuestion">
                            {% trans 'Page1_Qn7' %}
                          </p>
                          <p class="reviewAnswer" id="page1-7"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--  page 2  -->
              <div class="card">
                <div class="card-header aleft" id="headingTwo">
                  <div class="mb-0">
                    <div class="reviewTitle">
                      <h3>{% trans 'Page' %} 2 - {% trans 'Page2_Heading' %}</h3>
                    </div>
                    <div class="reviewDescription is-hidden">
                      <p class="reviewHeadPara lead">
                        {% trans 'Page10_ReviewDescription_2' %}
                      </p>
                    </div>

                    <div class="reviewQuestions is-hidden">
                      <div class="container-fluid" id="reviewTable2">
                        <div class="reviewComponent">
                          <p class="reviewQuestion">
                            {% trans 'Page2_Review_ApplicantType' %}
                          </p>
                          <p class="reviewAnswer" id="page2-1"></p>
                        </div>
                        <div id="indReview" class="is-hidden">
                          <div class="reviewComponent">
                            <p class="reviewQuestion">{% trans 'Surname' %}</p>
                            <p class="reviewAnswer" id="page2-ind-1"></p>
                          </div>
                          <div class="reviewComponent">
                            <p class="reviewQuestion">{% trans 'FirstName' %}</p>
                            <p class="reviewAnswer" id="page2-ind-2"></p>
                          </div>
                          <div class="reviewComponent">
                            <p class="reviewQuestion">{% trans 'DOB' %}</p>
                            <p class="reviewAnswer" id="page2-ind-3"></p>
                          </div>
                          <div class="reviewComponent">
                            <p class="reviewQuestion">{% trans 'POB' %}</p>
                            <p class="reviewAnswer" id="page2-ind-4"></p>
                          </div>
                          <div class="reviewComponent">
                            <p class="reviewQuestion">{% trans 'Nationality' %}</p>
                            <p class="reviewAnswer" id="page2-ind-5"></p>
                          </div>
                          <div class="reviewComponent">
                            <p class="reviewQuestion">{% trans 'Address' %}</p>
                            <p class="reviewAnswer" id="page2-ind-6"></p>
                          </div>
                          <div class="reviewComponent">
                            <p class="reviewQuestion">{% trans 'TelNo' %}</p>
                            <p class="reviewAnswer" id="page2-ind-7"></p>
                          </div>
                          <div class="reviewComponent">
                            <p class="reviewQuestion">{% trans 'Email' %}</p>
                            <p class="reviewAnswer" id="page2-ind-8"></p>
                          </div>
                          <div class="reviewComponent">
                            <p class="reviewQuestion">{% trans 'Sex' %}</p>
                            <p class="reviewAnswer" id="page2-ind-9"></p>
                          </div>
                          <div class="reviewComponent">
                            <p class="reviewQuestion">{% trans 'Page10_Anonymity_Request' %}</p>
                            <p class="reviewAnswer" id="page2-ind-10"></p>
                          </div>
                        </div>

                        <div id="orgReview" class="is-hidden">
                          <div class="reviewComponent">
                            <p class="reviewQuestion">{% trans 'Page2_Organisation_Name' %}</p>
                            <p class="reviewAnswer" id="page2-org-1"></p>
                          </div>
                          <div class="reviewComponent">
                            <p class="reviewQuestion">{% trans 'Page2_Organisation_Activity' %}</p>
                            <p class="reviewAnswer" id="page2-org-2"></p>
                          </div>
                          <div class="reviewComponent">
                            <p class="reviewQuestion">{% trans 'Page2_Organisation_RegDate' %}</p>
                            <p class="reviewAnswer" id="page2-org-3"></p>
                          </div>
                          <div class="reviewComponent">
                            <p class="reviewQuestion">{% trans 'Page2_Organisation_ID' %}</p>
                            <p class="reviewAnswer" id="page2-org-4"></p>
                          </div>
                          <div class="reviewComponent">
                            <p class="reviewQuestion">{% trans 'Page2_Organisation_Address' %}</p>
                            <p class="reviewAnswer" id="page2-org-5"></p>
                          </div>
                          <div class="reviewComponent">
                            <p class="reviewQuestion">{% trans 'TelNo' %}</p>
                            <p class="reviewAnswer" id="page2-org-6"></p>
                          </div>
                          <div class="reviewComponent">
                            <p class="reviewQuestion">{% trans 'Email' %}</p>
                            <p class="reviewAnswer" id="page2-org-7"></p>
                          </div>
                          <div class="reviewComponent">
                            <p class="reviewQuestion">Page10_Anonymity_Request</p>
                            <p class="reviewAnswer" id="page2-org-8"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- page 3  -->
              <div class="card">
                <div class="card-header aleft" id="headingThree">
                  <div class="mb-0">
                    <div class="reviewTitle">
                      <h3>{% trans 'Page' %} 3 - {% trans 'Page3_Heading' %}</h3>
                    </div>
                    <div class="reviewDescription is-hidden">
                      <p class="reviewHeadPara lead">
                        {% trans 'Page10_ReviewDescription_3' %}
                      </p>
                    </div>

                    <div class="reviewQuestions is-hidden">
                      <div class="container-fluid">
                        <div id="reviewTable3" class="is-hidden">
                          <div class="reviewRepIndividual is-hidden">
                            <div class="reviewRepIndNL is-hidden">
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Page3_IndRep_Type' %}</p>
                                <p class="reviewAnswer" id="page3-ind-rep-NL"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Page3_IndRep_NL_Capacity' %}</p>
                                <p class="reviewAnswer" id="page3-ind-rep-NL-1"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Surname' %}</p>
                                <p class="reviewAnswer" id="page3-ind-rep-NL-2"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'FirstName' %}</p>
                                <p class="reviewAnswer" id="page3-ind-rep-NL-3"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Address' %}</p>
                                <p class="reviewAnswer" id="page3-ind-rep-NL-4"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Nationality' %}</p>
                                <p class="reviewAnswer" id="page3-ind-rep-NL-5"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Email' %}</p>
                                <p class="reviewAnswer" id="page3-ind-rep-NL-6"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'TelNo' %}</p>
                                <p class="reviewAnswer" id="page3-ind-rep-NL-7"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Fax' %}</p>
                                <p class="reviewAnswer" id="page3-ind-rep-NL-8"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion"> {% trans 'Page3_Authority_Option' %}</p>
                                <p class="reviewAnswer" id="page3-ind-rep-NL-9"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion"> {% trans 'Page3_Ecomms_Email' %}</p>
                                <p class="reviewAnswer" id="page3-ind-rep-NL-10"></p>
                              </div>
                            </div>
                            <div class="reviewRepIndL is-hidden">
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Page3_IndRep_Type' %}</p>
                                <p class="reviewAnswer" id="page3-ind-rep-L"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Surname' %}</p>
                                <p class="reviewAnswer" id="page3-ind-rep-L-1"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'FirstName' %}</p>
                                <p class="reviewAnswer" id="page3-ind-rep-L-2"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Address' %}</p>
                                <p class="reviewAnswer" id="page3-ind-rep-L-3"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Nationality' %}</p>
                                <p class="reviewAnswer" id="page3-ind-rep-L-4"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Email' %}</p>
                                <p class="reviewAnswer" id="page3-ind-rep-L-5"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'TelNo' %}</p>
                                <p class="reviewAnswer" id="page3-ind-rep-L-6"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Fax' %}</p>
                                <p class="reviewAnswer" id="page3-ind-rep-L-7"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Page3_Authority_Option' %}</p>
                                <p class="reviewAnswer" id='page3-ind-rep-L-8'></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Page3_Ecomms_Email' %}</p>
                                <p class="reviewAnswer" id="page3-ind-rep-L-9"></p>
                              </div>
                            </div>
                            <div class="reviewRepSelf is-hidden">
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Page3_IndRep_Type' %}</p>
                                <p class="reviewAnswer" id="page3-ind-rep-self"></p>
                              </div>
                            </div>
                          </div>
                          <div class="reviewRepOrganisation is-hidden">
                            <div class="reviewRepOrgNL is-hidden">
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Page3_OrgOfficial_Capacity' %}</p>
                                <p class="reviewAnswer" id="page3-org-rep-NL-1"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Surname' %}</p>
                                <p class="reviewAnswer" id="page3-org-rep-NL-2"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'FirstName' %}</p>
                                <p class="reviewAnswer" id="page3-org-rep-NL-3"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Address' %}</p>
                                <p class="reviewAnswer" id="page3-org-rep-NL-4"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Nationality' %}</p>
                                <p class="reviewAnswer" id="page3-org-rep-NL-5"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Email' %}</p>
                                <p class="reviewAnswer" id="page3-org-rep-NL-6"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'TelNo' %}</p>
                                <p class="reviewAnswer" id="page3-org-rep-NL-7"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion"></p>
                                <p class="reviewAnswer" id="page3-org-rep-NL-8"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Page3_OrgOff_Entitled' %}</p>
                                <p class="reviewAnswer" id="page3-org-rep-NL-9"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">
                                  {% trans 'Page3_Org_RepLawyer' %}
                                </p>
                                <p class="reviewAnswer" id="page3-org-rep-NL-10"></p>
                              </div>
                            </div>
                            <div class="reviewRepOrgL is-hidden">
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Surname' %}</p>
                                <p class="reviewAnswer" id="page3-org-rep-L-1"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'FirstName' %}</p>
                                <p class="reviewAnswer" id="page3-org-rep-L-2"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Address' %}</p>
                                <p class="reviewAnswer" id="page3-org-rep-L-3"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Nationality' %}</p>
                                <p class="reviewAnswer" id="page3-org-rep-L-4"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Email' %}</p>
                                <p class="reviewAnswer" id="page3-org-rep-L-5"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'TelNo' %}</p>
                                <p class="reviewAnswer" id="page3-org-rep-L-6"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Fax' %}</p>
                                <p class="reviewAnswer" id="page3-org-rep-L-7"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion">{% trans 'Page3_Authority_Option' %}</p>
                                <p class="reviewAnswer" id="page3-org-rep-L-8"></p>
                              </div>
                              <div class="reviewComponent">
                                <p class="reviewQuestion"> {% trans 'Page3_Ecomms_Email' %}</p>
                                <p class="reviewAnswer" id="page3-org-rep-L-9"></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- page 4 -->
              <div class="card">
                <div class="card-header aleft" id="headingFour">
                  <div class="mb-0">
                    <div class="reviewTitle">
                      <h3>{% trans 'Page' %} 4 - {% trans 'Page4_Heading' %}</h3>
                    </div>
                    <div class="reviewDescription is-hidden">
                      <p class="reviewHeadPara lead">
                        {% trans 'Page10_ReviewDescription_4' %}
                      </p>
                    </div>
                    <div class="reviewQuestions is-hidden">
                      <div class="container-fluid">
                        <div id="reviewTable4">
                          <div class="reviewComponent">
                            <p class="reviewQuestion">{% trans 'Page4_Heading' %}</p>
                            <p class="reviewAnswer" id="page4-1"></p>
                          </div>
                          <div class="reviewComponent">
                            <p class="reviewQuestion">{% trans 'Page4_Supplementary' %}
                            </p>
                            <p class="reviewAnswer" id="page4-2"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- page 5 -->
              <div class="card">
                <div class="card-header aleft" id="headingFive">
                  <div class="mb-0">
                    <div class="reviewTitle">
                      <h3>
                        {% trans 'Page' %} 5 - {% trans 'Page5_Heading' %}
                      </h3>
                    </div>
                    <div class="reviewDescription is-hidden">
                      <p class="reviewHeadPara lead">
                        {% trans 'Page10_ReviewDescription_5' %}
                      </p>
                    </div>
                    <div class="reviewQuestions is-hidden">
                      <div class="container-fluid">
                        <div id="reviewTable5">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- page 6 -->
              <div class="card">
                <div class="card-header aleft" id="headingSix">
                  <div class="mb-0">
                    <div class="reviewTitle">
                      <h3>{% trans 'Page' %} 6 - {% trans 'Page6_Heading' %}</h3>
                    </div>
                    <div class="reviewDescription is-hidden">
                      <p class="reviewHeadPara lead">
                        {% trans 'Page10_ReviewDescription_6' %}
                      </p>
                    </div>
                    <div class="reviewQuestions is-hidden">
                      <div class="container-fluid">
                        <div id="reviewTable6">
                        </div>
                        <div class="reviewComponent">
                          <p class="reviewQuestion">
                            {% trans 'Page6_Unused_Remedy_Explain' %}
                          </p>
                          <p class="reviewAnswer" id="page6-1"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- page 7 -->
              <div class="card">
                <div class="card-header aleft" id="headingSeven">
                  <div class="mb-0">
                    <div class="reviewTitle">
                      <h3>{% trans 'Page' %} 7 - {% trans 'Page7_Heading' %}</h3>
                    </div>
                    <div class="reviewDescription is-hidden">
                      <p class="reviewHeadPara lead">
                        {% trans 'Page10_ReviewDescription_7' %}
                      </p>
                    </div>
                    <div class="reviewQuestions is-hidden">
                      <div class="container-fluid">
                        <div id="reviewTable7">
                          <div class="reviewComponent">
                            <p class="reviewQuestion">
                              {% trans 'Page7_Another_Investigation_Summary' %}
                            </p>
                            <p class="reviewAnswer" id="page7-1"></p>
                          </div>
                          <div class="reviewComponent">
                            <p class="reviewQuestion">
                              {% trans 'Page7_Other_Application' %}
                            </p>
                            <p class="reviewAnswer" id="page7-2"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- page 8 -->
              <div class="card">
                <div class="card-header aleft" id="headingEight">
                  <div class="mb-0">
                    <div class="reviewTitle">
                      <h3>{% trans 'Page' %} 8 - {% trans 'Page8_Heading' %}</h3>
                    </div>
                    <div class="reviewDescription is-hidden">
                      <p class="reviewHeadPara lead">
                        {% trans 'Page10_ReviewDescription_8' %}
                      </p>
                    </div>
                    <div class="reviewQuestions is-hidden">
                      <div class="container-fluid">
                        <div id="reviewTable8">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- page 9 -->
              <div class="card">
                <div class="card-header aleft" id="headingNine">
                  <div class="mb-0">
                    <div class="reviewTitle">
                      <h3>{% trans 'Page' %} 9 - {% trans 'Page9_Heading' %}</h3>
                    </div>
                    <div class="reviewDescription is-hidden">
                      <p class="reviewHeadPara lead">
                        {% trans 'Page10_ReviewDescription_9' %}
                      </p>
                    </div>
                    <div class="reviewQuestions is-hidden">
                      <div class="container-fluid">
                        <div id="reviewTable9">
                          <div class="reviewComponent">
                            <p class="reviewQuestion">
                              {% trans 'Page9_OtherComments' %}
                            </p>
                            <p class="reviewAnswer" id="page9-1"></p>
                          </div>
                          <div class="reviewComponent">
                            <p class="reviewQuestion">{% trans 'Page9_Confirmation_Applicant' %}</p>
                            <p class="reviewAnswer" id="page9-2"></p>
                          </div>
                          <div class="reviewComponent">
                            <p class="reviewAnswer" id="page9-3q"></p>
                            <p class="reviewAnswer" id="page9-3"></p>
                          </div>
                          <div class="reviewComponent">
                            <p class="reviewAnswer" id="page9-4q"></p>
                            <p class="reviewAnswer" id="page9-4"></p>
                          </div>
                          <div class="reviewComponent">
                            <p class="reviewQuestion">{% trans 'Page9_Who_Sign' %}</p>
                            <p class="reviewAnswer" id="page9-5"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- page 10 -->
              <div class="card">
                <div class="card-header aleft" id="headingTen">
                  <div class="mb-0">
                    <div class="reviewTitleDisabled">
                      <h3>{% trans 'Page' %} 10 - {% trans 'Page10_Heading' %}</h3>
                    </div>
                    <div class="reviewDescription is-hidden">
                      <p class="reviewHeadPara lead">
                        {% trans 'Page10_ReviewDescription_10' %}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- page 11 -->
              <div class="card">
                <div class="card-header aleft" id="headingEleven">
                  <div class="mb-0">
                    <div class="reviewTitleDisabled">
                      <h3>{% trans 'Page' %} 11 - {% trans 'Page11_Heading' %}</h3>
                    </div>
                    <div class="reviewDescription is-hidden">
                      <p class="reviewHeadPara lead">
                        {% trans 'Page10_ReviewDescription_11' %}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-footer">
              <div class="row">
                <div class="col-sm-6 aleft">
                  <button class="btn btn-primary" onclick="stepperForm.previous()">
                    {% trans 'Button_Previous' %}
                  </button>
                </div>
                <div class="col-sm-6 aright">
                  <button class="btn btn-primary btn-next-form" onclick="stepperForm.next()">
                    {% trans 'Button_Next' %}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>