<div
  id="form-page-6"
  role="tabpanel"
  class="bs-stepper-pane fade"
  aria-labelledby="stepperFormTrigger6"
>
  <div class="col-md-12 mx-auto form-section">
    {% load static %}
    <div class="row">
      <div class="card-master col-sm-11">
        <div class="card-master-header">
          <h4 class="card-header-title acenter">Domestic Proceedings</h4>
        </div>

        <div class="card-body alert-info">
          <p class="lead">
            Indicate here all relevant legal and/or administrative remedies you
            have used in your country. For each complaint, state all relevant
            court decisions, including those from lower courts and the final
            decision. <br /><br /><b>IMPORTANT</b>: indicate the date and
            case-file number of all court decisions in the domestic proceedings.
          </p>
          <div class="text-center">
            <button
              class="btn more-info-button"
              data-toggle="collapse"
              data-target="#info-4"
            >
              More Info
            </button>
          </div>
          <br />

          <div id="info-4" class="collapse">
            <p>
              This means that you must bring all the matters which you want to
              complain about before the national courts and use all the
              available appeals up to the highest level. You must show that you
              have exhausted the available national legal remedies and provide
              dates for each decision, so that the Court can quickly see that
              you have complied with the six-month time-limit. <br />
              <br />
              Only a summary of the remedies need be given, with the name of the
              court, the date and a concise description of the decision taken.
              Extra details about the court proceedings or how the courts dealt
              with complaints can be added in supplementary annexes if
              necessary. Remember to append copies of all the decisions taken by
              courts or other decision-making bodies, from the lowest to the
              highest; you must also provide copies of your claims or
              applications to the courts and your statements of appeal so that
              you can show that you raised the substance of your Convention
              complaints at each level. <br />
              <br />
              If you think that there were no remedies to exhaust as they were
              non-existent or ineffective or inaccessible in some way, you
              should put down this reasoning briefly.
            </p>
          </div>

          <div class="form-group">
            <div class=" ">
              <h5 class="alert-heading">Examples</h5>
              <table class="table-bordered">
                <thead style="border: none">
                  <tr style="background-color: #2679c7; color: white">
                    <th width="25%" scope="col">Complaint</th>
                    <th width="45%" scope="col">Remedies Used</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Art. 5 complaint about arrest by police</td>
                    <td>
                      High Court rejected claim on 05/12/13; leave to appeal
                      refused by Court of Appeal on 14/01/15 in the case with
                      the case file number XXXXXXX.
                    </td>
                  </tr>
                  <tr>
                    <td>Art. 6 complaint about neighbour dispute</td>
                    <td>
                      County Court rejected claim on 03/04/12; Court of Appeal
                      dismissed appeal on 04/12/14 in the case with the case
                      file number XXXXXXX.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br /><br />
            <hr />
            <div id="page6Group">
              <div class="s-group">
                <table width="100%">
                  <tr>
                    <td width="40%">
                      <label for="complainSelect_0_0"><b>Complaint</b></label>
                      <textarea
                        name="page6[0][complainSelect]"
                        id="complain_0_select"
                        class="form-control complainSelect"
                        data-parsley-group="page6"
                        data-pattern-id="complain_++_select"
                        data-pattern-name="page6[++][complainSelect]"
                        cols="26"
                        rows="10"
                        oninput="complaintWrapper(this, 26, true);"
                        onpaste="complaintWrapper(this, 26, true);"
                      ></textarea>
                    </td>
                    <td width="60%">
                      <label><b> Remedies Used</b></label>
                      <textarea
                        class="form-control remedies remediesTextCounter"
                        name="page6[0][remediesUsed]"
                        id="complain_0_remedy"
                        oninput="complaintWrapper(this, 69, false);"
                        cols="30"
                        rows="10"
                        data-parsley-group="page6"
                        data-pattern-id="complain_++_remedy"
                        data-pattern-name="page6[++][remediesUsed]"
                        onpaste="complaintWrapper(this, 69, false);"
                        onfocus="getCounterValue(this);"
                        onblur="hideCounterElement(this);"
                      ></textarea>
                      <br />
                      <div class="remediesCounter is-hidden">
                        Lines Remaining:
                      </div>
                    </td>
                  </tr>
                </table>
                <div>
                  <button
                    type="button"
                    class="s-btnAdd btn btn-primary"
                    id="addButton_6_0"
                    data-pattern-id="addButton_6_++"
                  >
                    Add +
                  </button>
                  <button type="button" class="s-btnRemove btn btn-danger">
                    Remove -
                  </button>
                </div>
              </div>
            </div>
          </div>

          <br />
          <br />
          <div class="form-group">
            <h5>
              Is or was there an appeal or remedy available to you which you
              have not used?
            </h5>
            <br />

            <div class="custom-control custom-radio custom-control-inline">
              <input
                type="radio"
                class="custom-control-input"
                id="appealAvailableYes"
                name="page6[appealAvailable]"
                value="Yes"
                data-parsley-group=""
              />
              <label class="custom-control-label" for="appealAvailableYes"
                >Yes</label
              >
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input
                type="radio"
                class="custom-control-input"
                id="appealAvailableNo"
                name="page6[appealAvailable]"
                value="No"
                data-parsley-group=""
              />
              <label class="custom-control-label" for="appealAvailableNo"
                >No</label
              >
            </div>
          </div>
          <div class="form-group is-hidden appealDescribe">
            <div class="form-group is-hidden appealDescribe">
              <label for="appealDescribe"
                >Please state which appeal or remedy you have not used and
                explain why not.
              </label>
            </div>
            <div class="row justify-content-center">
              <textarea
                class="form-control col-sm-8 appealDescribeTextCounter"
                name="page6[appealDescribe]"
                id="appealDescribe"
                cols="100"
                maxlength="550"
                rows="6"
              ></textarea>
            </div>
          </div>
          <br />
          <br />

          <div class="card-footer">
            <div class="row">
              <div class="col-sm-6 aleft">
                <button
                  class="btn btn-primary"
                  onclick="stepperForm.previous()"
                >
                  Previous
                </button>
              </div>
              <div class="col-sm-6 aright">
                <button
                  class="btn btn-primary btn-next-form"
                  onclick="stepperForm.next()"
                >
                  Next
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        style="
          position: fixed;
          right: 20px;
          bottom: 20px;
          width: 100%;
          margin-top: 5vw;
        "
        class="col-sm-1"
      >
        <p class="text-white">
          This is a Beta version of Just Bot and we rely on your feedback to
          improve it.
        </p>
        <button
          class="showModal btn feedback-button"
          value="6"
          onclick="curPageNum(this);"
        >
          Feedback
        </button>
      </div>
    </div>
  </div>
</div>
