<div id="form-page-9" role="tabpanel" class="bs-stepper-pane fade text-center" aria-labelledby="stepperFormTrigger9">
  <div class="col-12 col-md-12 mx-auto form-section">
    {% load static %}
    {% load i18n %}
    <div class="row">
      <div class="card-master col-12 col-md-12">
        <div class="card-master-header">
          <h4 class="card-header-title">{% trans 'Page9_Heading' %}</h4>
        </div>
        <div class="card-body aleft">

          <!-- other comments section -->
          <div class="form-group aleft">
            <h4>{% trans 'Page9_OtherComments' %}</h4>
            <div class="row justify-content-center">
              <textarea class="limitedArea form-control lastAreas" name="page9[formComments]" id="formComments"
                cols="100" rows="4" maxlength="500" oninput="limitLines(this);" onpaste="limitLinesOnPaste(this);"
                style="width: 100ch; padding: 10px"></textarea>
              <br />
            </div>
            <div class="row justify-content-center"></div>
          </div>



          <!-- correspondence section -->
          <div class="form-group">
            <h4>{% trans 'Page9_WhoCorrespond' %}</h4>
            <h5>{% trans 'Page9_WhoCorrespond_Description' %}
            </h5>

            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="signatureDeclarationApplicant"
                name="page9[signatureDeclaration]" value="Applicant" data-parsley-group="page9a" />
              <label class="custom-control-label"
                for="signatureDeclarationApplicant">{% trans 'Page9_Applicant' %}</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="signatureDeclarationRepresentative"
                name="page9[signatureDeclaration]" value="Representative" data-parsley-group="page9a" />
              <label class="custom-control-label"
                for="signatureDeclarationRepresentative">{% trans 'Page9_Representative' %}</label>
            </div>
            <div class="form-group">
              <br />
              <div class="is-hidden" id="correspondentOptionApplicant">
                <h4>{% trans 'Page9_Confirmation_Applicant' %}</h4>
                <h5>{% trans 'Page9_Confirmation_Applicant_Description' %}
                </h5>
                <label for="confirmationApplicantName">{% trans 'Page9_Applicant_Name' %}</label>
                <input class="form-control" type="text" name="page9[confirmationApplicantName]"
                  id="confirmationApplicantName" maxlength="80" data-parsley-group="page9b" />

                <label for="confirmationApplicantAddress">{% trans 'Page9_Applicant_Address' %}
                  <a href="javascript://" data-toggle="popover"
                    data-content="{% trans 'Page9_Applicant_Address_Popover' %}" data-trigger="focus"
                    data-placement="bottom"><span><i class="fas fa-question-circle"></i></span></a></label>
                <input class="form-control" type="text" name="page9[confirmationApplicantAddress]"
                  id="confirmationApplicantAddress" maxlength="300" data-parsley-group="page9b" />
              </div>

              <div class="is-hidden" id="correspondentOptionRepresentative">

                <h4>{% trans 'Page9_Confirmation_Applicant' %}</h4>
                <h5>{% trans 'Page9_Confirmation_Representative_Description' %}
                </h5>
                <label for="confirmationRepresentativeName">{% trans 'Page9_Representative_Name' %}</label>
                <input class="form-control" type="text" name="page9[confirmationRepresentativeName]"
                  id="confirmationRepresentativeName" maxlength="80" data-parsley-group="page9c" />

                <label for="confirmationRepresentativeAddress">{% trans 'Page9_Representative_Address' %}</label>
                <input class="form-control" type="text" name="page9[confirmationRepresentativeAddress]"
                  id="confirmationRepresentativeAddress" maxlength="300" data-parsley-group="page9c" />
              </div>
            </div>
          </div>

          <!-- signature section -->
          <div>
            <div>
              <br />
              <h4>{% trans 'Page9_Signature' %}</h4>
            </div>
            <h5>{% trans 'Page9_Signature_Description' %}
            </h5>


            <div>
              <br>
              <h5>{% trans 'Page9_Who_Sign' %}</h5>

              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="signAccuracyDeclarationApplicant"
                  name="page9[signAccuracyDeclaration]" value="Applicant" data-parsley-group="page9a" />
                <label class="custom-control-label"
                  for="signAccuracyDeclarationApplicant">{% trans 'Page9_Who_Sign_Applicant' %}</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="signAccuracyDeclarationRepresentative"
                  name="page9[signAccuracyDeclaration]" value="Representative" data-parsley-group="page9a" />
                <label class="custom-control-label"
                  for="signAccuracyDeclarationRepresentative">{% trans 'Page9_Who_Sign_Representative' %}</label>
              </div>

            </div>


            <div id="page9AlertAndImage" class="alert alert-danger is-hidden">
              <br>
              <h5 class="lead">
                {% trans 'Page9_Very_Important' %}
              </h5>
            </div>



            <div class="declAndSignImage">
              <br>
              <img id="page9imageRepresentativeChecked" class="is-hidden"
                src="{% static 'applicationForm/img/Page 13 Signature Representative.png' %}" width="70%"
                style="border: #ea0000 solid 4px" />
              <img id="page9imageApplicantChecked" class="is-hidden"
                src="{% static 'applicationForm/img/Page 13 Signature Applicant.png' %}" width="70%"
                style="border: #ea0000 solid 4px" />
            </div>

          </div>

          <!-- Todo: make required -->
          <div>
            <br><br>
            <h4>{% trans 'Page9_Confirm_Read' %}</h4>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="page9ConfirmReadCheckbox"
                name="page9[confirmReadCheckboxYes]" />
              <label class="custom-control-label"
                for="page9ConfirmReadCheckbox">{% trans 'Page9_Confirm_Checkbox_Text' %}</label>
            </div>
            <br>
          </div>
        </div>

        <div class="card-footer">
          <div class="row">
            <div class="col-sm-6 aleft">
              <button class="btn btn-primary" onclick="stepperForm.previous()">
                {% trans 'Button_Previous' %}
              </button>
            </div>
            <div class="col-sm-6 aright">
              <button class="btn btn-primary btn-next-form" id="gotoPage10" onclick="stepperForm.next()">
                {% trans 'Button_Next' %}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>