<div
  id="form-page-8"
  role="tabpanel"
  class="bs-stepper-pane fade text-center"
  aria-labelledby="stepperFormTrigger8"
>
  <div class="col-md-12 mx-auto form-section">
    {% load static %}
    <div class="row">
      <div class="card-master col-sm-11">
        <div class="card-master-header">
          <h4 class="card-header-title acenter">Documents</h4>
        </div>
        <div class="card-body">
          <div class="section aleft">
            <h3 class="acenter">List of Accompanying Documents</h3>
            <p class="lead">
              List here all judgments and decisions referred to in this
              application, as well as any other documents you wish the Court to
              take into consideration as evidence supporting your claims.
              <br />
              <b>IMPORTANT</b>: If the final decision has not yet been drafted
              by the national authority, please wait until it is drafted and
              communicated to you or your lawyer, before you apply to the Court.
              <br />
              Please note: The Court may request you to provide supplementary
              information and/or documents.
            </p>
            <div class="text-center">
              <button
                class="btn more-info-button"
                data-toggle="collapse"
                data-target="#info-5"
              >
                More Info
              </button>
            </div>
            <br />
            <div id="info-5" class="collapse">
              <p class="ajustify">
                You have to support your complaints by documentary evidence.
                This means that if there is a complaint about an official act or
                decision, a copy of that decision or document attesting to that
                official act or measure must be provided. The Court cannot just
                take your word for what you say has happened. So, if you
                complain that your house is being expropriated, you must attach
                to the application form a copy of the official decision ordering
                the expropriation; if you allege that you have been refused
                legal aid for your child’s custody proceedings, you must provide
                a copy of the document by the decision body setting out that
                refusal. If there are a number of documents relating to a
                particular incident or procedure, you should err on the side of
                caution and provide all that appear relevant. <br /><br />
                If you are unable to obtain a copy of a decision or document,
                you should explain this in the application form. But you must
                show that it was practically impossible for you to obtain the
                document: applicants are expected to take reasonable steps to
                apply to authorities for copies of documents and to comply with
                reasonable formalities in that respect. If the explanation is
                not forthcoming or adequate, the application will not be
                allocated to a judicial formation.
                <br /><br />
                Where documents are provided by electronic means, they must also
                be arranged and numbered in accordance with the list of
                documents on the application form.
                <br /><br />
                <b>REMINDER:</b> It is your responsibility to take steps in good
                time to obtain all the information and documents required for a
                complete application. If you do not provide one or more of the
                necessary documents your application will not be regarded as
                complete and it will not be examined by the Court, unless you
                have given an adequate explanation of why you were unable to
                provide the missing document(s). Please note that for safety
                reasons, applications containing suspicious objects will be
                destroyed.
                <br />
              </p>
              <hr style="border-top: 3px solid rgba(0, 0, 0, 0.4)" />
            </div>
            <p>
              No documents will be returned to you. It is thus in your interests
              to submit copies, not originals. We will list the documents
              chronologically for you, however you MUST attach copies of the
              documents and:
            </p>
            <ul>
              <li>arrange the documents in order by date and by procedure;</li>
              <li>number the pages consecutively; and</li>
              <li>NOT staple, bind or tape the documents.</li>
            </ul>

            <div class="form-group">
              <div id="page8Group">
                <div class="r-group">
                  <table width="100%">
                    <tr>
                      <td width="18%">
                        <label for="doc_0_0">Date</label>
                        <input
                          type="text"
                          name="page8[0][date]"
                          id="doc_0_date"
                          class="form-control datepicker docsDate"
                          data-pattern-name="page8[++][date]"
                          data-pattern-id="doc_++_date"
                          data-date-end-date="0d"
                          data-parsley-group="page8"
                        />
                      </td>
                      <td width="30%" style="padding-right: 10px">
                        <label for="doc_0_0">Title of the Document</label>
                        <input
                          type="text"
                          name="page8[0][title]"
                          id="doc_0_title"
                          class="form-control docsTitle"
                          data-pattern-name="page8[++][title]"
                          data-pattern-id="doc_++_title"
                          maxlength="65"
                          data-parsley-group="page8"
                        />
                      </td>
                      <td width="40%" style="padding-right: 10px">
                        <label for="doc_0_0"
                          >Short description of the Document</label
                        >
                        <input
                          type="text"
                          name="page8[0][desc]"
                          id="doc_0_desc"
                          class="form-control docsDesc"
                          data-pattern-name="page8[++][desc]"
                          data-pattern-id="doc_++_desc"
                          maxlength="70"
                          data-parsley-group="page8"
                        />
                      </td>
                      <td width="12%">
                        <label for="doc_0_0"
                          >Number of Pages<a
                            href="javascript://"
                            data-toggle="popover"
                            data-content="Indicate the total number of pages in each document"
                            data-trigger="focus"
                            data-placement="bottom"
                            ><span
                              ><i class="fas fa-question-circle"></i></span></a
                        ></label>
                        <input
                          type="number"
                          name="page8[0][page]"
                          id="doc_0_page"
                          class="form-control docsPages"
                          data-pattern-name="page8[++][page]"
                          data-pattern-id="doc_++_title"
                          min="1"
                          data-parsley-group="page8"
                        />
                      </td>
                    </tr>
                  </table>
                  <div>
                    <!-- Add a remove button for the item. If one didn't exist, it would be added to overall group -->
                    <button
                      type="button"
                      class="r-btnAdd btn btn-primary"
                      id="addButton_8_0"
                      data-pattern-id="addButton_8_++"
                    >
                      Add +
                    </button>
                    <button type="button" class="r-btnRemove btn btn-danger">
                      Remove -
                    </button>
                  </div>
                </div>
                <!-- add button here -->
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-sm-6 aleft">
                    <button
                      class="btn btn-primary"
                      onclick="stepperForm.previous()"
                    >
                      Previous
                    </button>
                  </div>
                  <div class="col-sm-6 aright">
                    <button
                      class="btn btn-primary btn-next-form"
                      onclick="stepperForm.next()"
                    >
                      Next
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div
              style="
                position: fixed;
                right: 20px;
                bottom: 20px;
                width: 100%;
                margin-top: 5vw;
              "
              class="col-sm-1"
            >
              <p class="text-white">
                This is a Beta version of Just Bot and we rely on your feedback
                to improve it.
              </p>
              <button
                class="showModal btn feedback-button"
                value="8"
                onclick="curPageNum(this);"
              >
                Feedback
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
