<div id="form-page-5" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepperFormTrigger5">
  <div class="col-md col-md-12 mx-auto form-section">
    {% load static %}
    <div class="row">
      <div class="card-master col-12 col-md-12">
        <div class="card-master-header">
          <h4 class="card-header-title acenter">Alleged violations of the Convention/Protocols</h4>
        </div>

        <div class="card-body alert-info">
          <label>
            <h4 class="ajustify">
              Indicate here alleged violation(s) of the
              <a href="https://www.echr.coe.int/Documents/Convention_ENG.pdf" _target="#">
                Convention and/or Protocols </a>and relevant arguments. Explain as precisely as you can why the
              facts described in the previous section entail a violation of the
              Convention or/and Protocols. For each complaint raised you need to
              indicate the Article/s that apply and argue in brief sentences how
              it has been infringed.
            </h4>
          </label>
          <br />

          <div class="form-group">
            <div class="articleExample">
              <h4 class="alert-heading">Examples</h4>
              <table class="table-bordered">
                <thead style="border: none">
                  <tr style="background-color: #2679c7; color: white">
                    <th scope="col" width="25%">Article(s) invoked</th>
                    <th scope="col">Explanation</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Article 5 – Right to liberty and security
                    </td>
                    <td>
                      I was detained wrongfully at the border police station for three days without being told why or
                      being allowed to phone a lawyer or my family. 
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Article 6 – Right to a fair trial
                    </td>
                    <td>
                      The criminal proceedings against me lasted 9 years and 8 months for two levels of jurisdiction.
                      Also, I was not allowed to cross-examine the witness who gave the sole evidence against me.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Article 8 – Right to respect for private and family life
                    </td>
                    <td>
                      The domestic courts dismissed my complaints after my employer has been monitoring my personal
                      correspondence and fired me based on the content of my personal correspondence.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br />
            <br />
            <hr />
            <div id="page5Group">
              <div class="a-group">
                <table width="100%" style="border: none">
                  <tr>
                    <td width="50%" style="
                        padding-right: 10px;
                        border: none;
                        vertical-align: top;
                      ">
                      <label class="lead" for="articleSelect">
                        <h4>Article(s) invoked </h4>
                      </label>
                      <select name="page5[0][articleSelect]" id="article_0_select" class="form-control articleSelect"
                        data-parsley-group="page5" data-pattern-name="page5[++][articleSelect]"
                        data-pattern-id="article_++_select"
                        onchange="populateDiv(this.id, '.descDiv1'); toggleAddButton(this);"></select>
                      <br>
                      <div class="descDiv1">

                      </div>

                      <div class="is-hidden page5AlertText">
                        <p class="alert alert-danger">Please choose at least one option</p>
                      </div>
                      <div class="conjArticle">
                        <div class="secondSelectDiv">
                        </div>
                        <div class="is-hidden page5SecondAlertText">
                          <p class="alert alert-danger">Please choose at least one option</p>
                        </div>
                      </div>
                    </td>
                    <td width="25%" style="padding-right: 10px; border: none" class="is-hidden">
                      <label for="articleArea">Article(s) Area </label>
                      <textarea name="page5[0][articleArea]" id="article_0_area" class="form-control articleArea"
                        data-parsley-group="page5" data-pattern-name="page5[++][articleArea]"
                        data-pattern-id="article_++_area"></textarea>
                    </td>
                    <td width="50%" style="border: none; vertical-align: top;">
                      <label class="lead">
                        <h4>Explanation</h4>
                      </label>
                      <textarea class="form-control articleExplanation articleExpCounter"
                        name="page5[0][articleExplanation]" id="article_0_explanation"
                        data-pattern-id="article_++_explanation" data-pattern-name="page5[++][articleExplanation]"
                        oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px";articleWrapper(this,72,false,false)'
                        onpaste='this.style.height = ""; this.style.height = this.scrollHeight + "px";articleWrapper(this, 72, false,true);'
                        onfocus="getCounterValue(this);" onblur="hideCounterElement(this);" cols="30" rows="10"
                        data-parsley-group="page5" style="width: 80ch; padding: 10px"></textarea>

                      <br />
                      <div class="explanationCounter is-hidden">
                        Lines Remaining:
                      </div>
                      <div class="addButtonWarningDiv alert alert-danger is-hidden">New fields cannot be added because
                        of constraints related to available number of lines. Add button will be disabled.</div>
                      <!-- 'this.style.height = ""; this.style.height = this.scrollHeight + "px"; -->
                    </td>

                    <p>
                      <!-- Add a remove button for the item. If one didn't exist, it would be added to overall group -->
                    </p>
                  </tr>
                </table>
                <div class="container page5Div is-hidden">

                  <div class="row">
                    <div class="nameDiv"></div>
                    <div class="descDiv" style="padding-left: 30px; padding-right: 30px"></div>
                  </div>
                  <hr>
                  <div class="row">
                    <div>
                    </div>
                  </div>
                  <hr />
                </div>
                <div class="page5GroupButtonsDiv">
                  <button type="button" class="a-btnAdd btn btn-primary page5_addButton" id="addButton_5_0"
                    data-pattern-id="addButton_5_++" disabled>
                    Add +
                  </button>
                  <button type="button" class="a-btnRemove btn btn-danger">
                    Remove -
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-6 aleft">
                <button class="btn btn-primary" onclick="stepperForm.previous()">
                  Previous
                </button>
              </div>
              <div class="col-sm-6 aright">
                <button class="btn btn-primary btn-next-form" onclick="stepperForm.next()">
                  Next
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>