<div id="form-page-6" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepperFormTrigger6">
  <div class="col-12 col-md-12 mx-auto form-section">
    {% load static %}
    {% load i18n %}
    <div class="row">
      <div class="card-master col-12 col-md-12">
        <div class="card-master-header">
          <h4 class="card-header-title acenter">{% trans 'Page6_Heading' %}</h4>
        </div>

        <div class="card-body">
          <h4>{% trans 'Page6_Heading_Description' %}

          </h4>
          <div class="text-center">
            <button class="btn more-info-button" data-toggle="collapse" data-target="#info-4">
              {% trans 'Button_MoreInfo' %}
            </button>
          </div>
          <br />

          <div id="info-4" class="collapse">
            <h5>
              {% trans 'Page6_MoreInfo_Text' %}
            </h5>
          </div>

          <div class="form-group">
            <div class="complainExample">
              <h4 class="alert-heading">{% trans 'Text_Examples' %}</h4>
              <table class="table-bordered">
                <thead style="border: none">
                  <tr style="background-color: #2679c7; color: white">
                    <th width="35%" rowspan="2">{% trans 'Page6_Header_Complaint' %}</th>
                    <th width="65%" scope="col">{% trans 'Page6_Header_Remedies' %}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> {% trans 'Page6_Ex1_Complaint' %}</td>
                    <td>{% trans 'Page6_Ex1_Remedies' %}
                    </td>
                  </tr>
                  <tr>
                    <td>{% trans 'Page6_Ex2_Complaint' %}
                      dispute</td>
                    <td>{% trans 'Page6_Ex2_Remedies' %}
                    </td>
                  </tr>
                  <tr>
                    <td>{% trans 'Page6_Ex3_Complaint' %}
                    </td>

                    <td>{% trans 'Page6_Ex3_Remedies' %}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br /><br />
            <hr />
            <div id="page6Group">
              <div class="s-group" style="width: 85%; margin: auto">
                <table>
                  <tr>
                    <th style="vertical-align: top" class="is-hidden">
                      <label for=""><b>Selected Article</b></label>
                      <textarea name="page6[0][preArticleSelect]" id="preArticle_0_select"
                        class="form-control preArticleSelect" data-pattern-id="preArticle_++_select"
                        data-pattern-name="page6[++][preArticleSelect]" rows="5" data-parsley-group="page6"
                        readonly></textarea>
                    </th>
                    <th width="30%" style="vertical-align: top">
                      <label class="lead" for="complainSelect_0_0">
                        <h4>{% trans 'Page6_Header_Complaint' %}</h4>
                      </label>
                      <!-- width: 35ch;-->
                      <textarea name="page6[0][complainSelect]" style="padding: 10px" id="complain_0_select"
                        class="form-control complainSelect" data-parsley-group="page6"
                        data-pattern-id="complain_++_select" data-pattern-name="page6[++][complainSelect]" cols="26"
                        rows="5" oninput='complaintWrapper( this, 26,true, false,);'
                        onpaste='complaintWrapper( this, 26,true, true);'
                        onkeydown="complaintKeyDown(event,this)"></textarea>
                    </th>
                    <th>
                      <label class="lead">
                        <h4> {% trans 'Page6_Header_Remedies' %}</h4>
                      </label>
                      <textarea class="form-control remedies remediesTextCounter" name="page6[0][remediesUsed]"
                        id="complain_0_remedy" oninput='complaintWrapper(this, 69, false,false);' rows="5"
                        data-parsley-group="page6" data-pattern-id="complain_++_remedy"
                        data-pattern-name="page6[++][remediesUsed]" onpaste='complaintWrapper(this, 69, false,true);'
                        onfocus="getCounterValue(this);" onblur="hideCounterElement(this);"
                        style="padding: 10px"></textarea>
                      <!-- width: 80ch; -->
                      <div class="remediesCounter is-hidden">
                        {% trans 'Lines_Remaining' %}:
                      </div>
                    </th>
                  </tr>
                </table>
                <div>
                  <button type="button" class="s-btnAdd btn btn-primary is-hidden" id="addButton_6_0"
                    data-pattern-id="addButton_6_++">
                    {% trans 'Add_Button' %} +
                  </button>
                  <button type="button" class="s-btnRemove btn btn-danger is-hidden">
                    {% trans 'Remove_Button' %} -
                  </button>
                </div>
              </div>
            </div>
          </div>

          <br />
          <br />
          <div class="form-group">
            <h4>{% trans 'Page6_Unused_Remedy_Option' %}

            </h4>
            <br />

            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="appealAvailableYes" name="page6[appealAvailable]"
                value="Yes" data-parsley-group="" />
              <label class="custom-control-label" for="appealAvailableYes">{% trans 'Option_Yes' %}</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="appealAvailableNo" name="page6[appealAvailable]"
                value="No" data-parsley-group="" />
              <label class="custom-control-label" for="appealAvailableNo">{% trans 'Option_No' %}</label>
            </div>
          </div>
          <div class="form-group is-hidden appealDescribe">
            <div class="form-group is-hidden appealDescribe">
              <h4>{% trans 'Page6_Unused_Remedy_Explain' %}
              </h4>
            </div>
            <div class="row justify-content-center">
              <textarea class="form-control lastAreas" name="page6[appealDescribe]" id="appealDescribe" cols="100"
                rows="16" maxlength="1600" oninput="limitLines(this)" onpaste="limitLinesOnPaste(this)"
                style="width: 110ch; padding: 10px"></textarea>
            </div>
            <div class="row justify-content-center">{% trans 'Lines_Remaining' %}:</div>
          </div>
          <br />
          <br />

          <div class="card-footer">
            <div class="row">
              <div class="col-sm-6 aleft">
                <button class="btn btn-primary" onclick="stepperForm.previous()">
                  {% trans 'Button_Previous' %}
                </button>
              </div>
              <div class="col-sm-6 aright">
                <button class="btn btn-primary btn-next-form" onclick="stepperForm.next()">
                  {% trans 'Button_Next' %}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>