<div
  id="form-page-5"
  role="tabpanel"
  class="bs-stepper-pane fade"
  aria-labelledby="stepperFormTrigger5"
>
  <div class="col-md-12 mx-auto form-section">
    {% load static %}
    <div class="row">
      <div class="card-master col-sm-11">
        <div class="card-master-header">
          <h4 class="card-header-title acenter">Article violation(s)</h4>
        </div>

        <div class="card-body alert-info">
          <p class="lead ajustify">
            Indicate here alleged violation(s) of the
            <a
              href="https://www.echr.coe.int/Documents/Convention_ENG.pdf"
              _target="#"
            >
              Convention and/or Protocols </a
            >and relevant arguments. Explain as precisely as you can why the
            facts described in the previous section entail a violation of the
            Convention or/and Protocols. For each complaint raised you need to
            indicate the Article/s that apply and argue in brief sentences how
            it has been infringed.
          </p>

          <br />

          <div class="form-group">
            <div class="articleExample">
              <h5 class="alert-heading">Examples</h5>
              <table class="table-bordered">
                <thead style="border: none">
                  <tr style="background-color: #2679c7; color: white">
                    <th scope="col" width="25%">Article(s) invoked</th>
                    <th scope="col">Explanation</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Article 6</td>
                    <td>
                      The criminal proceedings against me lasted 9 years and 8
                      months for two levels of jurisdiction. Also, I was not
                      allowed to cross-examine the witness who gave the sole
                      evidence against me.
                    </td>
                  </tr>
                  <tr>
                    <td>Article 5</td>
                    <td>
                      I was detained wrongfully at the border police station for
                      three days without being told why or being allowed to
                      phone a lawyer or my family.
                    </td>
                  </tr>
                  <tr>
                    <td>Article 3</td>
                    <td>
                      The police kept me handcuffed in a cell without heating
                      and gave me no food for three days. I became ill and
                      needed treatment from the doctor for bronchitis.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br />
            <br />
            <hr />
            <div id="page5Group">
              <div class="a-group">
                <table width="100%" style="border: none">
                  <tr>
                    <td
                      width="30%"
                      style="
                        padding-right: 10px;
                        border: none;
                        vertical-align: top;
                      "
                    >
                      <label for="articleSelect">Article(s) invoked </label>
                      <select
                        name="page5[0][articleSelect]"
                        id="article_0_select"
                        class="form-control articleSelect"
                        data-parsley-group="page5"
                        data-pattern-name="page5[++][articleSelect]"
                        data-pattern-id="article_++_select"
                        onchange="populateDiv(this.id); articleWrapper(this, 26, true); toggleAddButton(this); addFieldTo6thPage(event);"
                      ></select>
                    </td>
                    <td
                      width="25%"
                      style="padding-right: 10px; border: none"
                      class="is-hidden"
                    >
                      <label for="articleArea">Article(s) Area </label>
                      <textarea
                        name="page5[0][articleArea]"
                        id="article_0_area"
                        class="form-control articleArea"
                        data-parsley-group="page5"
                        data-pattern-name="page5[++][articleArea]"
                        data-pattern-id="article_++_area"
                      ></textarea>
                    </td>
                    <td width="70%" style="border: none">
                      <label>Explanation</label>
                      <textarea
                        class="form-control articleExplanation articleExpCounter"
                        name="page5[0][articleExplanation]"
                        id="article_0_explanation"
                        data-pattern-id="article_++_explanation"
                        data-pattern-name="page5[++][articleExplanation]"
                        oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px";articleWrapper(this,72,false,false)'
                        onpaste='this.style.height = ""; this.style.height = this.scrollHeight + "px";articleWrapper(this, 72, false,true);'
                        onfocus="getCounterValue(this);"
                        onblur="hideCounterElement(this);"
                        cols="30"
                        rows="10"
                        data-parsley-group="page5"
                        style="width: 80ch; padding: 10px"
                      ></textarea>
                      <br />
                      <div class="explanationCounter is-hidden">
                        Lines Remaining:
                      </div>
                      <!-- 'this.style.height = ""; this.style.height = this.scrollHeight + "px"; -->
                    </td>

                    <p>
                      <!-- Add a remove button for the item. If one didn't exist, it would be added to overall group -->
                    </p>
                  </tr>
                </table>
                <div class="container page5Div is-hidden">
                  
                  <div class="row">
                    <div class="nameDiv"></div>
                    <div
                      class="descDiv"
                      style="padding-left: 30px; padding-right: 30px"
                    ></div>
                  </div>
                  <hr>
                  <div class="row">
                    <table>
                      <!-- <tr>
                        <td><div class="countryDiv"></div></td>
                        <td style="word-break: break-word;"><div class="reservationDiv"></div></td>
                      </tr> -->
                    </table>
                  </div>
                  <hr />
                </div>
                <div>
                  <button
                    type="button"
                    class="a-btnAdd btn btn-primary page5_addButton"
                    id="addButton_5_0"
                    data-pattern-id="addButton_5_++"
                    disabled
                  >
                    Add +
                  </button>
                  <button type="button" class="a-btnRemove btn btn-danger">
                    Remove -
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-6 aleft">
                <button
                  class="btn btn-primary"
                  onclick="stepperForm.previous()"
                >
                  Previous
                </button>
              </div>
              <div class="col-sm-6 aright">
                <button
                  class="btn btn-primary btn-next-form"
                  onclick="stepperForm.next()"
                >
                  Next
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        style="
          position: fixed;
          right: 20px;
          bottom: 20px;
          width: 100%;
          margin-top: 5vw;
        "
        class="col-sm-1"
      >
        <p class="text-white">
          This is a Beta version of Just Bot and we rely on your feedback to
          improve it.
        </p>
        <button
          class="showModal btn feedback-button"
          value="5"
          onclick="curPageNum(this);"
        >
          Feedback
        </button>
      </div>
    </div>
  </div>
</div>
