<div
  id="form-page-1"
  role="tabpanel"
  class="bs-stepper-pane fade"
  aria-labelledby="stepperFormTrigger1"
>
  <div class="col-md-12 mx-auto form-section">
    {% load static %}
    <div class="row">
      <div class="card-master col-sm-11">
        <div class="card-master-header">
          <h4 class="card-header-title acenter">Prerequisites</h4>
        </div>
        <div class="card-body">
          <div class="container">
            <p class="lead">
              Please fill in this application form with utmost care. If you
              leave something out or omit a relevant document, your application
              form is likely to be rejected as incomplete. The European Court of
              Human Rights assesses, in principle, only complete applications
              sent within 6 months of receiving a final judgement from the
              domestic courts. Sending an incomplete application form does not
              interrupt the 6 months term required by the Court.
            </p>
            <br /><br />
          </div>
          <ol>
            <li class="ordLists">
              <h5>
                Which state(s) do you intend to complain about in your
                application to the European Court of Human Rights?
                <a
                  href="javascript://"
                  data-toggle="popover"
                  data-content="If the State you complain against is not amongst those enumerated below, your application is inadmissible. The Court is competent to assess only allegations involving one or several of the 47 member states of the Council of Europe."
                  data-trigger="focus"
                  data-placement="bottom"
                >
                  <span><i class="fas fa-question-circle"></i></span
                ></a>
              </h5>
              <div class="row">
                <div class="col-sm-5">
                  <div class="form-group">
                    <select
                      multiple
                      class="show-menu-arrow form-control"
                      name="page1[involvedStates]"
                      id="involvedStates"
                      data-parsley-group="page1"
                    >
                      <option value="Albania">Albania</option>
                      <option value="Andorra">Andorra</option>
                      <option value="Armenia">Armenia</option>
                      <option value="Austria">Austria</option>
                      <option value="Azerbaijan">Azerbaijan</option>
                      <option value="Belgium">Belgium</option>
                      <option value="Bulgaria">Bulgaria</option>
                      <option value="Bosnia and Herzegovina">
                        Bosnia and Herzegovina
                      </option>
                      <option value="Croatia">Croatia</option>
                      <option value="Cyprus">Cyprus</option>
                      <option value="Czech Republic">Czech Republic</option>

                      <option value="Denmark">Denmark</option>

                      <option value="Estonia">Estonia</option>
                      <option value="Finland">Finland</option>
                      <option value="France">France</option>

                      <option value="Georgia">Georgia</option>
                      <option value="Germany">Germany</option>
                      <option value="Greece">Greece</option>

                      <option value="Hungary">Hungary</option>
                      <option value="Ireland">Ireland</option>
                      <option value="Iceland">Iceland</option>
                      <option value="Italy">Italy</option>
                      <option value="Liechtenstein">Liechtenstein</option>
                      <option value="Lithuania">Lithuania</option>
                      <option value="Luxembourg">Luxembourg</option>
                      <option value="Latvia">Latvia</option>
                      <option value="Malta">Malta</option>
                      <option value="Monaco">Monaco</option>
                      <option value="Republic of Moldova">
                        Republic of Moldova
                      </option>
                      <option value="North Macedonia">North Macedonia</option>

                      <option value="Montenegro">Montenegro</option>
                      <option value="Netherlands">Netherlands</option>
                      <option value="Norway">Norway</option>
                      <option value="Poland">Poland</option>
                      <option value="Portugal">Portugal</option>
                      <option value="Romania">Romania</option>
                      <option value="Russian Federation">
                        Russian Federation
                      </option>
                      <option value="San Marino">San Marino</option>
                      <option value="Serbia">Serbia</option>
                      <option value="Slovak Republic">Slovak Republic</option>
                      <option value="Slovenia">Slovenia</option>
                      <option value="Spain">Spain</option>
                      <option value="Sweden">Sweden</option>
                      <option value="Switzerland">Switzerland</option>
                      <option value="Turkey">Turkey</option>
                      <option value="Ukraine">Ukraine</option>
                      <option value="United Kingdom">United Kingdom</option>
                    </select>
                  </div>
                </div>
              </div>
            </li>
            <li class="ordLists">
              <h5>The facts you are complaining about concern:</h5>
              <div class="form-group">
                <div id="error-container-concern">
                  <div
                    class="custom-control custom-radio custom-control-inline"
                  >
                    <input
                      type="radio"
                      class="custom-control-input"
                      id="concernYouYes"
                      name="page1[concernYou]"
                      value="Yes"
                      data-parsley-errors-container="#error-container-concern"
                      data-parsley-group="page1"
                    />
                    <label class="custom-control-label" for="concernYouYes">
                      You directly</label
                    >
                  </div>
                  <div
                    class="custom-control custom-radio custom-control-inline"
                  >
                    <input
                      type="radio"
                      class="custom-control-input"
                      id="concernYouNo"
                      name="page1[concernYou]"
                      value="No"
                      data-parsley-errors-container="#error-container-concern"
                      data-parsley-group="page1"
                    />
                    <label class="custom-control-label" for="concernYouNo"
                      >Your organisation
                    </label>
                  </div>
                  <div
                    class="custom-control custom-radio custom-control-inline"
                  >
                    <input
                      type="radio"
                      class="custom-control-input"
                      id="concernYouOther"
                      name="page1[concernYou]"
                      value="Other"
                      data-parsley-errors-container="#error-container-concern"
                      data-parsley-group="page1"
                    />
                    <label class="custom-control-label" for="concernYouOther"
                      >A close relative or a person under your care or
                      responsibility who is unable to lodge an application
                      <a
                        href="javascript://"
                        data-toggle="popover"
                        data-content="The Convention institutions have held that special considerations may arise in the case of victims of alleged breaches of Articles 2 (right to life), 3 (prohibition of torture) and 8 (right to respect for private and family life) at the hands of the national authorities. In this case you need to show legitimate interest in pursuing the application before the Court."
                        data-trigger="focus"
                        data-placement="bottom"
                        ><span><i class="fas fa-question-circle"></i></span
                      ></a>
                    </label>
                  </div>
                  <div
                    class="custom-control custom-radio custom-control-inline"
                  >
                    <input
                      type="radio"
                      class="custom-control-input"
                      id="concernYouIndividual"
                      name="page1[concernYou]"
                      value="Individual"
                      data-parsley-errors-container="#error-container-concern"
                      data-parsley-group="page1"
                    />
                    <label
                      class="custom-control-label"
                      for="concernYouIndividual"
                      >My client who is an individual person
                    </label>
                  </div>
                  <div
                    class="custom-control custom-radio custom-control-inline"
                  >
                    <input
                      type="radio"
                      class="custom-control-input"
                      id="concernYouJuridical"
                      name="page1[concernYou]"
                      value="Juridical"
                      data-parsley-errors-container="#error-container-concern"
                      data-parsley-group="page1"
                    />
                    <label
                      class="custom-control-label"
                      for="concernYouJuridical"
                      >My client who is a juridical person
                    </label>
                  </div>
                </div>
              </div>
            </li>
            <li class="ordLists">
              <div class="form-group">
                <label class="lead">
                  <h5>
                    When did the alleged breach of the European Convention on
                    Human Rights that you are complaining about start and when
                    did it stop? <br />If you are not sure whether or when the
                    violation stopped, please select today’s date in the second
                    field.
                  </h5>
                </label>
                <div class="row">
                  <div class="col-sm-6 input-group">
                    <div class="input-daterange input-group" id="datepicker">
                      <input
                        type="text"
                        class="input-sm form-control"
                        name="page1[decisionDate1]"
                        data-date-end-date="0d"
                        id="decisionDate1"
                        placeholder="Start"
                      />
                      <div class="input-group-append input-group-prepend">
                        <span class="input-group-text">To</span>
                      </div>
                      <input
                        type="text"
                        class="input-sm form-control"
                        name="end"
                        data-date-end-date="0d"
                        id="decisionDate2"
                        name="page1[decisionDate2]"
                        placeholder="End"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-10">
                  <div id="echrDetails"></div>
                </div>
              </div>
            </li>
            <li class="ordLists">
              <h5>
                Have you brought your case before the highest court competent to
                deal with the subject matter of your dispute? The competent
                national courts in the selected state(s) are in principle:
              </h5>
              <table
                class="table-bodered"
                id="courtTable"
                cellspacing="0"
                style="border-collapse: collapse"
              >
                <thead style="border: none">
                  <tr style="background-color: #2679c7; color: white">
                    <th style="border: none" scope="col">Country</th>
                    <th style="border: none" scope="col">Type of proceeding</th>
                    <th style="border: none" scope="col">National court(s)</th>
                  </tr>
                </thead>
                <tbody id="courtData"></tbody>
              </table>
              <br /><br />
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  class="custom-control-input"
                  id="courtCaseYes"
                  name="page1[courtCase]"
                  value="Yes"
                />
                <label class="custom-control-label" for="courtCaseYes"
                  >Yes</label
                >
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  class="custom-control-input"
                  id="courtCaseNo"
                  name="page1[courtCase]"
                  value="No"
                />
                <label class="custom-control-label" for="courtCaseNo">No</label>
              </div>
              <br />
            </li>
            <li class="ordLists">
              <h5>
                Were there available legal remedies capable of remedying your
                situation that you have not used?
                <a
                  href="javascript://"
                  data-toggle="popover"
                  data-content="Before you apply to the Court, you need to exhaust domestic remedies. The only remedies the Convention requires to be exhausted are those that relate to the breaches alleged and those that are available, effective and sufficient. Essential is that the competent national authorities analyzed the merits of your claim/claims."
                  data-trigger="focus"
                  data-placement="bottom"
                  ><span><i class="fas fa-question-circle"></i></span
                ></a>
              </h5>

              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  class="custom-control-input"
                  id="complySixYes"
                  name="page1[complySix]"
                  value="Yes"
                />
                <label class="custom-control-label" for="complySixYes"
                  >Yes</label
                >
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  class="custom-control-input"
                  id="complySixNo"
                  name="page1[complySix]"
                  value="No"
                />
                <label class="custom-control-label" for="complySixNo">No</label>
              </div>
            </li>
            <li class="ordLists">
              <h5>
                When was the final decision in your case delivered or served on
                you?
                <a
                  href="javascript://"
                  data-toggle="popover"
                  data-content="Your application needs to comply with the six-month rule which means you need to send your application no later than 6 months after the last remedy in the national system has been exhausted or where there are no remedies within 6 months after the events being complained about occurred. The six-month period starts running from the date on which you or your representative had sufficient knowledge of the final national decision. 
                                    Exceptions to this rule are 1) continuous violations or 2) situations where there is no remedy available. In the first case, the six-month period starts to run from the end of the continuing situation. The fact that the event/alleged violation has consequences over time does not mean that the event has produced a continuing situation. In the second case, the six-month period starts running from the date on which the act complained of took place or the date on which you were directly affected.
                                    Please submit your application as soon as possible. If you send it at the last moment and is incomplete, you will have no time to re-submit a complete application form within the required 6-month time limit."
                  data-trigger="focus"
                  data-placement="bottom"
                  ><span><i class="fas fa-question-circle"></i></span
                ></a>
              </h5>
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <input
                      type="text"
                      id="finalDecisionDate"
                      class="datepicker form-control"
                      name="page1[finalDecisionDate]"
                      data-date-end-date="0d"
                      data-parsley-group="page1"
                    />
                  </div>
                </div>
              </div>
            </li>
            <li class="ordLists">
              <div class="form-group">
                <h5>
                  Do you already have a Reference number (Application number)
                  from the Court in relation to these complaints?
                </h5>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    type="radio"
                    class="custom-control-input"
                    id="referenceYes"
                    name="page1[referenceOption]"
                    value="Yes"
                    data-parsley-group="page1"
                  />
                  <label class="custom-control-label" for="referenceYes"
                    >Yes</label
                  >
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    type="radio"
                    class="custom-control-input"
                    id="referenceNo"
                    name="page1[referenceOption]"
                    value="No"
                    data-parsley-group="page1"
                  />
                  <label class="custom-control-label" for="referenceNo"
                    >No</label
                  >
                </div>

                <div class="is-hidden referenceField col-sm-3">
                  <label for="referenceText"
                    >Please indicate the reference number in this box.
                  </label>
                  <input
                    class="form-control"
                    name="page1[referenceText]"
                    id="referenceText"
                    maxlength="10"
                    data-parsley-group="page1"
                    placeholder="Example: 123456/19"
                  />
                </div>
              </div>
            </li>
          </ol>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-6 aleft"></div>
            <div class="col-sm-6 aright">
              <button
                class="btn btn-primary btn-next-form"
                onclick="stepperForm.next()"
              >
                Next
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        style="
          position: fixed;
          right: 20px;
          bottom: 10px;
          width: 100%;
          margin-top: 5vw;
        "
        class="col-sm-1"
      >
        <p class="text-white">
          This is a Beta version of Just Bot and we rely on your feedback to
          improve it.
        </p>
        <button
          class="showModal btn feedback-button"
          value="1"
          onclick="curPageNum(this);"
        >
          Feedback
        </button>
      </div>
    </div>
  </div>
</div>
