<div id="form-page-2" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepperFormTrigger2">
  <div class="col-12 col-md-12 mx-auto form-section">
    {% load static %}
    <div class="row">
      <div class="card-master col-12 col-md-12">
        <div class="card-master-header">
          <h4 class="card-header-title acenter">Applicant</h4>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <label>
                <br />
                <p class="lead">
                  Select the appropriate option for your situation and fill in
                  the requested details.
                </p>
              </label>
              <br />
              <br />
            </div>
            <div class="col-sm-6 d-flex justify-content-center">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="applicantTypeInd" name="page2[applicantType]"
                  value="Individual" data-parsley-group="page2" data-parsley-errors-container="#IndOrgError" />
                <label class="custom-control-label" for="applicantTypeInd">
                  <h4>
                    Individual
                    <a href="javascript://" data-toggle="popover"
                      data-content="This section applies to an applicant who is an individual person, as opposed to a legal entity such as a company or association. If there is more than one individual applicant, this information must be provided for each additional applicant, on a separate application form."
                      data-trigger="focus" data-placement="bottom"><span><i
                          class="fas fa-question-circle"></i></span></a>
                  </h4>
                </label>
              </div>
            </div>
            <div class="col-sm-6 d-flex justify-content-center">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="applicantTypeOrg" name="page2[applicantType]"
                  value="Organisation" data-parsley-group="page2" data-parsley-required />
                <label class="custom-control-label" for="applicantTypeOrg">
                  <h4>
                    Organisation
                    <a href="javascript://" data-toggle="popover"
                      data-content="This section concerns applicants that are legal entities such as a company, non-governmental organisation or association, etc. The identity and contact details of the applicant organisation must be filled in. If there is more than one such applicant, this information must be provided for each additional applicant, on a separate application form."
                      data-trigger="focus" data-placement="bottom"><span><i
                          class="fas fa-question-circle"></i></span></a>
                  </h4>
                </label>
              </div>
            </div>
          </div>
          <div class="center-content-error" id="IndOrgError"></div>

          <div class="is-hidden" id="generalPage-2">
            {% include 'applicationForm/page2/individual.html' %}
            {% include 'applicationForm/page2/organisation.html' %}
            {% include 'applicationForm/page2/anonymity.html' %}

          </div>
        </div>

        <div class="card-footer acenter">
          <div class="row">
            <div class="col-sm-6 aleft">
              <button class="btn btn-primary" onclick="stepperForm.previous()">
                Previous
              </button>
            </div>
            <div class="col-sm-6 aright">
              <button class="btn btn-primary btn-next-form" onclick="stepperForm.next()">
                Next
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>