<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</head>
<body>
    <textarea name="" id="first" cols="81" rows="5"></textarea>

    <script>
        limitLines = function(limit, textArea) {
        var spaces = textarea.getAttribute("cols");
        
        textarea.onkeyup = function() {
           var lines = textarea.value.split("\n");
            
           for (var i = 0; i < lines.length; i++) 
           {
                 if (lines[i].length <= spaces) continue;
                 var j = 0;
                 
                var space = spaces;
                
                while (j++ <= spaces) 
                {
                   if (lines[i].charAt(j) === " ") space = j;  
                }
            lines[i + 1] = lines[i].substring(space + 1) + (lines[i + 1] || "");
            lines[i] = lines[i].substring(0, space);
          }
            if(lines.length>limit)
            {
                textarea.style.color = 'red';
                setTimeout(function(){
                    textarea.style.color = '';
                },500);
            }    
           textarea.value = lines.slice(0, limit).join("\n");
        };
    }

    var limit = 3; // <---max no of lines you want in textarea
        var textarea = document.getElementById("first");
        limitLines(limit, textarea)
    </script>
</body>
</html>