<div class="form-group">
    <br /><br />
    <div>
        <label class="lead">
            <h4>{% trans 'Page2_Anonymity_Question' %}
            </h4>
        </label>
        <h5> {% trans 'Page2_Anonymity_Question_Explanation' %}
        </h5>
    </div>

    <div class="custom-control custom-radio custom-control">
        <input type="radio" class="custom-control-input" id="applicantAnonYes" name="page2[applicantAnon]" value="Yes"
            data-parsley-group="page2" />
        <label class="custom-control-label" for="applicantAnonYes">{% trans 'Option_Yes' %}</label>
    </div>
    <div class="custom-control custom-radio custom-control">
        <input type="radio" class="custom-control-input" id="applicantAnonNo" name="page2[applicantAnon]" value="No"
            data-parsley-group="page2" />
        <label class="custom-control-label" for="applicantAnonNo">{% trans 'Option_No' %}</label>
    </div>
    <div class="form-group applicantAnonReq is-hidden">
        <h5 id="anonLabelForYes">
            <br />
        </h5>
        <textarea class="form-control" type="text" placeholder="{% trans 'Page2_Anonymity_Question_Placeholder' %}"
            name="page2[applicantAnonExp]" maxlength="10000" id="anonReqText" rows="20"></textarea>
    </div>
</div>