<div class="form-group">
    <br /><br />
    <div>
        <label class="lead">
            <h4>
                Do you want to keep your identity anonymous in public
                documents published by the Court?
            </h4>
        </label>
        <h5>
            If your application is declared admissible by the Court, your
            name will appear on the documents related to your case that
            are published by the Court. These documents are publicly
            available. You can request not to disclose your identity to
            the public.
        </h5>
    </div>

    <div class="custom-control custom-radio custom-control">
        <input type="radio" class="custom-control-input" id="applicantAnonYes" name="page2[applicantAnon]" value="Yes"
            data-parsley-group="page2" />
        <label class="custom-control-label" for="applicantAnonYes">Yes</label>
    </div>
    <div class="custom-control custom-radio custom-control">
        <input type="radio" class="custom-control-input" id="applicantAnonNo" name="page2[applicantAnon]" value="No"
            data-parsley-group="page2" />
        <label class="custom-control-label" for="applicantAnonNo">No</label>
    </div>
    <div class="form-group applicantAnonReq is-hidden">
        <h5 id="anonLabelForYes">
            <br />
        </h5>
        <textarea class="form-control" type="text" placeholder="Provide a detailed explanation"
            name="page2[applicantAnonExp]" maxlength="10000" id="anonReqText" rows="20"></textarea>
    </div>
</div>