<div class="is-hidden" id="orgBeginner">
  {% load i18n %}
  <div class="card">
    <div class="card-header">
      <p class="lead"> {% trans 'Page2_Organisation_Instructions' %}
      </p>
    </div>
    <div class="card-body">
      <div class="row divSpacing">
        <div class="col-lg-12 col-xl-6 form-group">
          <label class="lead">
            <h4>{% trans 'Page2_Organisation_Name' %}</h4>
          </label>
          <textarea class="form-control orgNameField" type="text"
            placeholder="{% trans 'Page2_Organisation_Name_Placeholder' %}" name="page2[orgName]"
            data-parsley-group="page2b" cols="49" maxlength="95" rows="2" id="orgName" oninput="limitLines(this);"
            onpaste="limitLinesOnPaste(this);"></textarea>
          <div></div>
        </div>
        <div class="form-group col-lg-12 col-xl-6">
          <label class="lead">
            <h4>{% trans 'Page2_Organisation_Activity' %}</h4>
          </label>
          <input class="form-control" type="text" name="page2[orgActivity]" data-parsley-group="page2b" maxlength="49"
            placeholder="{% trans 'Page2_Organisation_Activity_Placeholder' %}" id="orgActivity" />
        </div>
      </div>

      <div class="row divSpacing">
        <div class="form-group col-lg-12 col-xl-6">
          <label class="lead">
            <h4>{% trans 'Page2_Organisation_RegDateOption' %}

            </h4>
          </label>
          <div class="custom-control custom-radio custom-control">
            <input type="radio" class="custom-control-input" id="orgDateYes" name="page2[orgDateOption]" value="Yes"
              data-parsley-group="page2b" />
            <label class="custom-control-label" for="orgDateYes">{% trans 'Option_Yes' %}</label>
          </div>
          <div class="custom-control custom-radio custom-control">
            <input type="radio" class="custom-control-input" id="orgDateNo" name="page2[orgDateOption]" value="No"
              data-parsley-group="page2b" />
            <label class="custom-control-label" for="orgDateNo">{% trans 'Option_No' %}</label>
          </div>
          <div class="form-group is-hidden orgDateDiv">
            <label class="lead">
              <h4>{% trans 'Page2_Organisation_RegDate' %}
              </h4>
            </label>
            <input type="text" id="orgDate" class="datepicker form-control col-sm-6" name="page2[orgDate]"
              data-date-end-date="0d" data-parsley-group="page2b"
              placeholder="{% trans 'Page2_Organisation_RegDate_Placeholder' %}" />
          </div>
          <div>
            <div class="is-hidden" id="regDateNoDiv">
              <label class="lead">
                <h5>{% trans 'Page2_Organisation_NoRegDateMessage' %}
                </h5>
              </label>
            </div>
            <textarea class="form-control is-hidden orgDateNoArea col-sm-12" name="page2[orgDateNoArea]"
              id="orgDateNoArea" rows="5"
              placeholder="{% trans 'Page2_Organisation_NoRegDate_Placeholder' %}"></textarea>
          </div>
        </div>
        <div class="col-lg-12 col-xl-6 form-group">
          <label class="lead">
            <h4>{% trans 'Page2_Organisation_ID_Option' %}</h4>
          </label>
          <div class="custom-control custom-radio custom-control">
            <input type="radio" class="custom-control-input" id="orgIdentityYes" name="page2[orgIdentityOption]"
              value="Yes" data-parsley-group="page2b" />
            <label class="custom-control-label" for="orgIdentityYes">{% trans 'Option_Yes' %}</label>
          </div>
          <div class="custom-control custom-radio custom-control">
            <input type="radio" class="custom-control-input" id="orgIdentityNo" name="page2[orgIdentityOption]"
              value="No" data-parsley-group="page2b" />
            <label class="custom-control-label" for="orgIdentityNo">{% trans 'Option_No' %}</label>
          </div>
          <div class="form-group is-hidden orgIdentityDiv">
            <label class="lead">
              <h4>{% trans 'Page2_Organisation_ID' %}</h4>
            </label>
            <input class="form-control col-sm-6" type="text" placeholder="{% trans 'Page2_Organisation_ID_Placeholder' %}
              name=" page2[orgID]" maxlength="49" id="orgID" />
          </div>
          <div>
            <div class="is-hidden" id="orgIDNoDiv">
              <label class="lead">
                <h5>{% trans 'Page2_Organisation_NoIDMessage' %}
                </h5>
              </label>
            </div>
            <textarea class="form-control is-hidden orgIdentityNoArea col-sm-12" name="page2[orgIdentityNoArea]"
              id="orgIdentityNoArea" rows="5"
              placeholder="{% trans 'Page2_Organisation_NoID_Placeholder' %}"></textarea>
          </div>
        </div>
      </div>

      <div class="row divSpacing">
        <div class="col-lg-12 col-xl-6 form-group">
          <label class="lead">
            <h4>{% trans 'Page2_Organisation_Address' %}</h4>
          </label>
          <textarea class="form-control longAddress" name="page2[orgAddress]" id="orgAddress" cols="49" rows="8"
            maxlength="399" oninput="limitLines(this);" onpaste="limitLinesOnPaste(this)"
            placeholder="{% trans 'Page2_Organisation_Address_Placeholder' %}"></textarea>
          <div></div>
        </div>
        <div class="row col-lg-12 col-xl-6">
          <div class="form-group col-lg-12 col-xl-12">
            <label class="lead">
              <h4>{% trans 'Page2_Organisation_TelNo' %}</h4>
            </label>
            <input class="form-control" type="tel" id="orgPhone" name="page2[orgPhone]" data-parsley-group="page2b"
              placeholder="{% trans 'Page2_Organisation_TelNoPlaceholder' %}" />
          </div>
          <div class="form-group col-lg-12 col-xl-12">
            <label>
              <h4>{% trans 'Page2_Organisation_Email' %}</h4>
            </label>
            <input class="form-control" type="email" name="page2[orgEmail]" id="orgEmail"
              placeholder="{% trans 'Page2_Organisation_Email_Placeholder' %}" data-parsley-type="email"
              data-parsley-group="page2b" maxlength="49" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>